// COLOR
$primary: #e6290f;
$primary-light: #EE3227;
$text-heading: #000;
$text-body: #242424;
$text-sub-title: #404046;
$text-muted: #858592;
$text-placeholder: rgba(133, 133, 146, .2);
$white: #fff;
$shadow-primary: 0px 8px 31px rgba(244, 24, 24, 0.7);
$light: #FFFBF0;
$footer-bg: #242424;
$btn-primary: #E5290F;

$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827;

$title: rgba(0,0,0,.85);
$primary-text: rgba(0,0,0,.85);
$secondary-text: rgba(0,0,0,.45);
$disable: rgba(0,0,0,.25);
$border: rgba(0,0,0,.15);
$dividers: rgba(0,0,0,.06);
$background: rgba(0,0,0,.04);
$table-header: rgba(0,0,0,.02);

// SIZE
$header-height: 80px;
$header-xl-height: 95px;
$header-xxl-height: 110px;
$logo-width: 100px;
$logo-height: 48px;
$logo-xl-width: 130px;
$logo-xl-height: 65px;
$logo-xxl-width: 165px;
$logo-xxl-height: 82px;