.detail-section {
	padding: 60px 0 16px 0;
	@include maxWidth(768px) {
		padding: 32px 0;
	}
	.container {
		@include minWidth(1440px) {
			max-width: 1286px;
		}
	}
}
.detail-layout-grid {
	display: grid;
	gap: 30px;
	grid-template-columns: 1fr 350px;
    @include maxWidth(992px) {
		grid-template-columns: 1fr;
	}
	.detail-layout-left {
		.detail-artice {
			padding-bottom: 44px;
			border-bottom: 1px solid #e5e7eb;
            @include maxWidth(576px) {
                padding-bottom: 32px;
            }
			.detail-artice-thumb {
				width: 100%;
				position: relative;
				height: 0;
				overflow: hidden;
				border-radius: 8px;
				padding-bottom: 56%;
				margin-bottom: 44px;
                @include maxWidth(576px) {
                    margin-bottom: 32px;
                }
				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					-o-object-fit: cover;
					object-fit: cover;
					-o-object-position: center;
					object-position: center;
				}
			}
			.detail-artice-title {
				font-family: "Inter", sans-serif;
				font-weight: 700;
				font-size: 36px;
				line-height: calc(44 / 36);
				color: #242424;
				margin-bottom: 24px;
                @include maxWidth(576px) {
                    font-size: 30px;
                }
			}
			.news-item-footer {
				margin-bottom: 44px;
                @include maxWidth(576px) {
                    margin-bottom: 32px;
                }
				.news-item-author {
					gap: 12px;
					.news-item-author-image {
						width: 44px;
						height: 44px;
						min-width: 44px;
					}
					.news-item-author-info {
						.news-item-author-name {
							font-size: 14px;
						}
						.news-item-author-date {
							font-size: 14px;
						}
					}
				}

				.news-item-cat {
					padding: 5px 15px;
                    font-size: 14px;
					&.active {
						color: $primary-light;
						border-color: $primary-light;
						&:hover,
						&:focus {
							color: $primary;
							border-color: $primary;
						}
					}
				}
			}

			.detail-artice-content {
				h1,
				h2,
				h3,
				h4,
				h5,
				h6 {
					margin-bottom: 32px;
					font-weight: bold;
					font-family: "Inter", sans-serif;
					line-height: 1.5;
				}
				h1 {
					font-size: 26px;
				}
				h2 {
					font-size: 24px;
				}
				h3 {
					font-size: 20px;
				}
				h4 {
					font-size: 18px;
				}
				h5 {
					font-size: 16px;
				}
				h6 {
					font-size: 14px;
				}

				p {
					font-family: "Inter", sans-serif;
					line-height: 1.5;
				}
				img {
					overflow: hidden;
					border-radius: 8px;
					display: block;
					margin: 0 auto;
					margin-bottom: 32px;
				}
				margin-bottom: 44px;
                @include maxWidth(576px) {
                    margin-bottom: 32px;
                }
			}
			.detail-artice-tags {
				ul {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					gap: 12px;
					list-style: none;
					padding: 0;
					margin: 0;
                    -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
					li {
						a {
							display: block;
							padding: 10px 22px;
							background: #ffffff;
							border: 1px solid #e5e7eb;
							border-radius: 8px;
							text-align: center;
							color: #6b7280;
							font-family: "Inter", sans-serif;
							text-decoration: none;
							-webkit-transition: all 0.25s;
							-o-transition: all 0.25s;
							transition: all 0.25s;
							&:hover,
							&:focus {
								border-color: #9ca3af;
								color: #4b5563;
							}
						}
					}
				}
			}
		}

		.detail-artice-author {
			padding: 44px 0;
            @include maxWidth(576px) {
                padding: 32px 0;
            }
			border-bottom: 1px solid #e5e7eb;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			gap: 16px;
            @include maxWidth(576px) {
                -webkit-box-align: start;
                    -ms-flex-align: start;
                        align-items: flex-start;
            }
			.detail-artice-author-image {
				position: relative;
				width: 96px;
				height: 96px;
				min-width: 96px;
				border-radius: 9999px;
				overflow: hidden;
                @include maxWidth(576px) {
                    width: 44px;
                    height: 44px;
                    min-width: 44px;
                }
				img {
					position: absolute;
					width: 100%;
					height: 100%;
					-o-object-fit: cover;
					object-fit: cover;
					-o-object-position: center;
					object-position: center;
				}
			}
			.detail-artice-author-info {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
				gap: 8px;
				.detail-artice-author-post {
					font-family: "Inter", sans-serif;
					color: #6b7280;
					text-transform: uppercase;
				}
				.detail-artice-author-name {
					font-family: "Inter", sans-serif;
					text-decoration: none;
					font-weight: 600;
					font-size: 20px;
					color: #111827;
				}
				.detail-artice-author-des {
					font-size: 16px;
					line-height: calc(24 / 16);
					color: #374151;
					font-family: "Inter", sans-serif;
				}
			}
		}

		.artice-comments-area {
			padding: 44px 0;
            @include maxWidth(576px) {
                padding: 32px 0;
            }
			border-bottom: 1px solid #e5e7eb;

			.artice-comments-form {
				margin-bottom: 32px;
				.artice-comments-form-grid {
					margin-bottom: 24px;
					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-template-areas:
						"name mail"
						"comment comment";
					gap: 16px;
					.form-group {
						margin-bottom: 0;
						&:nth-child(1) {
							grid-area: name;
						}
						&:nth-child(2) {
							grid-area: mail;
						}
						&:nth-child(3) {
							grid-area: comment;
						}
						.form-control {
							&::-webkit-input-placeholder {
								color: #9ca3af;
							}
							&::-moz-placeholder {
								color: #9ca3af;
							}
							&:-ms-input-placeholder {
								color: #9ca3af;
							}
							&::-ms-input-placeholder {
								color: #9ca3af;
							}
							&::placeholder {
								color: #9ca3af;
							}
							padding: 16px 24px;
							border-color: #d1d5db;
							font-family: "Inter", sans-serif;
						}
					}
				}
				.btn-theme {
					padding: 17px 21px;
					&.shadow-none {
					}
				}
			}

			.artice-comment-items {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
				gap: 24px;
				& > .artice-comment-items {
					padding-left: 44px;
				}
				.artice-comment-item {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					gap: 12px;
					.artice-comment-item-thumb {
						padding-top: 8px;
						min-width: 32px;
						img {
							width: 32px;
							height: 32px;
							-o-object-fit: cover;
							object-fit: cover;
							-o-object-position: center;
							object-position: center;
							border-radius: 9999px;
							overflow: hidden;
						}
					}
					.artice-comment-item-main {
						-webkit-box-flex: 1;
						-ms-flex: 1;
						flex: 1;
						min-width: 1px;
						border-radius: 12px;
						padding: 16px;
						border: 1px solid #e5e7eb;
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-orient: vertical;
						-webkit-box-direction: normal;
						-ms-flex-direction: column;
						flex-direction: column;
						gap: 12px;
						.artice-comment-item-top {
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							gap: 8px;
							-webkit-box-align: center;
							-ms-flex-align: center;
							align-items: center;
							.artice-comment-item-name {
								font-family: "Inter", sans-serif;
								font-weight: 600;
								color: #111827;
							}
							.artice-comment-space-dot {
								width: 2px;
								height: 2px;
								border-radius: 2px;
								overflow: hidden;
								background: #858592;
							}
							.artice-comment-item-date {
								color: #6b7280;
								font-family: "Inter", sans-serif;
							}
						}
						.artice-comment-item-content {
							p {
								color: #374151;
								line-height: 1.5;
								font-family: "Inter", sans-serif;
								margin-bottom: 0;
                                font-size: 16px;
							}
						}
						.artice-comment-item-action {
							.artice-comment-item-reply {
								padding: 8px 22px;
								display: -webkit-box;
								display: -ms-flexbox;
								display: -webkit-inline-box;
								display: -ms-inline-flexbox;
								display: inline-flex;
								gap: 8px;
								background: #f3f4f6;
								border: 1px solid #f3f4f6;
								border-radius: 9999px;
								-webkit-box-align: center;
								-ms-flex-align: center;
								align-items: center;
								-webkit-box-pack: center;
								-ms-flex-pack: center;
								justify-content: center;
								color: #4b5563;
								text-decoration: none;
								font-family: "Inter", sans-serif;
							}
						}
					}
				}
			}
		}

		.related-artice {
			padding: 44px 0;
            @include maxWidth(576px) {
                padding: 32px 0;
            }
			.related-artice-items {
				display: grid;
				gap: 30px;
				grid-template-columns: 1fr 1fr;
                @include maxWidth(576px) {
                    gap: 24px;
                }
                @include maxWidth(480px) {
                    grid-template-columns: 1fr;
                }
                .news-item {
                    .news-item-body {
                        .news-item-footer {
                            @include maxWidth(768px) {
                                -webkit-box-orient: vertical;
                                -webkit-box-direction: normal;
                                -ms-flex-direction: column;
                                flex-direction: column;
                                -webkit-box-align: start;
                                -ms-flex-align: start;
                                align-items: flex-start;
                                gap: 8px;
                            }
                        }
                    }
                }
			}
		}
	}

	.detail-layout-right {
		.sidebar-block {
			margin-bottom: 24px;
			background: #ffffff;
			border: 1px solid #e5e7eb;
			border-radius: 8px;
			.sidebar-block-title {
				padding: 8px 16px;
				font-family: "Inter", sans-serif;
				font-weight: 700;
				font-size: 20px;
				line-height: calc(32 / 20);
				color: #242424;
				display: block;
				border-bottom: 1px solid #e5e7eb;
			}
			.sidebar-block-content {
				padding: 16px;
				.sidebar-cat-list {
					ul {
						list-style: none;
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-orient: vertical;
						-webkit-box-direction: normal;
						-ms-flex-direction: column;
						flex-direction: column;
						gap: 8px;
						padding: 0;
						margin-bottom: 0;
						li {
							a {
								display: -webkit-box;
								display: -ms-flexbox;
								display: flex;
								-webkit-box-align: center;
								-ms-flex-align: center;
								align-items: center;
								gap: 12px;
								text-decoration: none;
								font-family: "Inter", sans-serif;
								font-size: 15px;
								color: #111827;
								-webkit-transition: all 0.25s;
								-o-transition: all 0.25s;
								transition: all 0.25s;
								&:hover,
								&:focus {
									color: $primary-light;
								}
							}
						}
					}
				}
				.sidebar-service-grid {
					display: grid;
					gap: 12px;
					grid-template-columns: 1fr 1fr;
					.sidebar-service-item {
						background: #f7f9fc;
						border-radius: 8px;
						text-decoration: none;
						padding: 24px 12px;
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-orient: vertical;
						-webkit-box-direction: normal;
						-ms-flex-direction: column;
						flex-direction: column;
						-webkit-box-align: center;
						-ms-flex-align: center;
						align-items: center;
						-webkit-box-pack: center;
						-ms-flex-pack: center;
						justify-content: center;
						gap: 8px;
						-webkit-transition: all 0.25s;
						-o-transition: all 0.25s;
						transition: all 0.25s;
						&:hover,
						&:focus {
							background-color: #eceff3;
						}
						.sidebar-service-item-icon {
							img {
								width: 44px;
								height: 44px;
								-o-object-fit: contain;
								object-fit: contain;
								-o-object-position: center;
								object-position: center;
							}
						}
						.sidebar-service-item-title {
							display: block;
							text-align: center;
							font-family: "Inter", sans-serif;
							font-weight: 500;
							font-size: 14px;
							color: #242424;
						}
					}
				}
				.sidebar-banner-play {
					position: relative;
					height: 0;
					width: 100%;
					padding-bottom: 100%;
					overflow: hidden;
					border-radius: 8px;
					display: block;
					img {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						-o-object-fit: cover;
						object-fit: cover;
						-o-object-position: center;
						object-position: center;
						z-index: 1;
					}
                    &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-image: url('../images/banner-sidebar/icon-feather-play.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 31px 39px;
                        background-color: rgba(0,0,0,.2);
                        -webkit-transition: all .25s;
                        -o-transition: all .25s;
                        transition: all .25s;
                        z-index: 2;
                        opacity: 0;
                        visibility: hidden;
                    }
                    &:hover,
                    &:focus{
                        &:after{
                            opacity: 1;
                            visibility: visible;
                        }
                    }

				}
			}
		}
	}
}
.detail-block-title {
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: calc(32 / 24);
	color: #242424;
	margin-bottom: 24px;
}
