/* BASE PROJECT */

:root {

    --color-dark: #000000E0;
    --color-text-secondary: #000000A6;
    --color-text-disabled: #00000040;
    --color-text-muted: #8C8C8C;



    --color-white: #fff;

    --color-danger: #dd3333;



    --color-success: #17C964;

    --color-disabled: #BFBFBF;
    --color-dividers: #F0F0F0;
    --color-border: #D9D9D9;
    --color-border-light: #EBEBEB;

    --color-gray: #f8f9fb;
    --color-gray-dark: #dfdfdf;

    /* --color-primary-400: #2E4184; --color-primary-500: #162B75; --color-primary-600: #14286D; */

    --color-primary-400: #1472ff;
    --color-primary-500: #0066FF;
    --color-primary-600: #005eeb;



    /* --color-primary-10: #EAEDFB; --color-primary-20: #D6DBED; --color-primary-30: #BEC5DE; */

    --color-primary-10: #ebf3ff;
    --color-primary-20: #d8e7ff;
    --color-primary-30: #c4dcff;

    --color-primary-light: #f1faff;

    --color-secondary-400: #dfac57;
    --color-secondary-500: #DCA447;
    --color-secondary-600: #d99c37;
    --color-secondary-700: #d49328;
    --color-secondary-800: #c38825;
    --color-secondary-900: #b37c22;

    --color-secondary-10: #fefefc;
    --color-secondary-20: #fbf6ec;
    --color-secondary-30: #f8eddb;

    --rounded-4: 4px;
    --rounded-6: 6px;
    --rounded-8: 8px;
    --rounded-12: 12px;
    --rounded-full: 9999px;

    --fs-xs: 12px;
    --line-height-xs: 16px;
    --fs-sm: 14px;
    --line-height-sm: 20px;
    --fs-base: 16px;
    --line-height-base: 24px;
    --fs-lg: 18px;
    --line-height-lg: 28px;

    --fs-heading-sm: 24px;
    --line-height-heading-sm: 32px;
    --fs-heading-base: 32px;
    --line-height-heading-base: 36px;
    --fs-heading-lg: 48px;
    --line-height-heading-lg: 56px;
}





/* Fonts */




@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-Regular.ttf);
    font-weight: 400;
    font-display: swap;
}



@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-Medium.ttf);
    font-weight: 500;
    font-display: swap;
}



@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-SemiBold.ttf);
    font-weight: 600;
    font-display: swap;
}



@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-Bold.ttf);
    font-weight: 700;
    font-display: swap;
}



/* Defautl */

body {
    font-family: "Inter", "Segoe UI", Arial, Segoe, "DejaVu Sans",

        "Trebuchet MS", Verdana, sans-serif;
    font-size: var(--fs-sm);
    line-height: calc(var(--line-height-sm) / var(--fs-sm));
    color: var(--color-dark);
    background-color: var(--color-white);
    position: relative;
}



/* RADIUS */

.rounded-none {
    border-radius: 0px;
}



.rounded {
    border-radius: var(--rounded-4);
}



.rounded-lg {
    border-radius: var(--rounded-6);
}



.rounded-xl {
    border-radius: var(--rounded-8);
}



.rounded-xxl {
    border-radius: var(--rounded-12);
}



.rounded-full {
    border-radius: var(--rounded-full);
}



/* Font size */

.text-xs {
    font-size: var(--fs-xs);
    line-height: var(--line-height-xs);
}



.text-sm {
    font-size: var(--fs-sm);
    line-height: var(--line-height-sm);
}



.text-base {
    font-size: var(--fs-base);
    line-height: var(--line-height-base);
}



.text-lg {
    font-size: var(--fs-lg);
    line-height: var(--line-height-lg);
}



.text-heading-sm {
    font-size: var(--fs-heading-sm);
    line-height: var(--line-height-heading-sm);
}



.text-heading-base {
    font-size: var(--fs-heading-base);
    line-height: var(--line-height-heading-base);
}



.text-heading-lg {
    font-size: var(--fs-heading-lg);
    line-height: var(--line-height-heading-lg);
}



@media (min-width: 576px) {

    .sm\:text-xs {
        font-size: var(--fs-xs);
        line-height: var(--line-height-xs);
    }



    .sm\:text-sm {
        font-size: var(--fs-sm);
        line-height: var(--line-height-sm);
    }



    .sm\:text-base {
        font-size: var(--fs-base);
        line-height: var(--line-height-base);
    }



    .sm\:text-lg {
        font-size: var(--fs-lg);
        line-height: var(--line-height-lg);
    }



    .sm\:text-heading-sm {
        font-size: var(--fs-heading-sm);
        line-height: var(--line-height-heading-sm);
    }



    .sm\:text-heading-base {
        font-size: var(--fs-heading-base);
        line-height: var(--line-height-heading-base);
    }



    .sm\:text-heading-lg {
        font-size: var(--fs-heading-lg);
        line-height: var(--line-height-heading-lg);
    }

}



@media (min-width: 768px) {

    .md\:text-xs {
        font-size: var(--fs-xs);
        line-height: var(--line-height-xs);
    }



    .md\:text-sm {
        font-size: var(--fs-sm);
        line-height: var(--line-height-sm);
    }



    .md\:text-base {
        font-size: var(--fs-base);
        line-height: var(--line-height-base);
    }



    .md\:text-lg {
        font-size: var(--fs-lg);
        line-height: var(--line-height-lg);
    }



    .md\:text-heading-sm {
        font-size: var(--fs-heading-sm);
        line-height: var(--line-height-heading-sm);
    }



    .md\:text-heading-base {
        font-size: var(--fs-heading-base);
        line-height: var(--line-height-heading-base);
    }



    .md\:text-heading-lg {
        font-size: var(--fs-heading-lg);
        line-height: var(--line-height-heading-lg);
    }

}



@media (min-width: 992px) {

    .lg\:text-xs {
        font-size: var(--fs-xs);
        line-height: var(--line-height-xs);
    }



    .lg\:text-sm {
        font-size: var(--fs-sm);
        line-height: var(--line-height-sm);
    }



    .lg\:text-base {
        font-size: var(--fs-base);
        line-height: var(--line-height-base);
    }



    .lg\:text-lg {
        font-size: var(--fs-lg);
        line-height: var(--line-height-lg);
    }



    .lg\:text-heading-sm {
        font-size: var(--fs-heading-sm);
        line-height: var(--line-height-heading-sm);
    }



    .lg\:text-heading-base {
        font-size: var(--fs-heading-base);
        line-height: var(--line-height-heading-base);
    }



    .lg\:text-heading-lg {
        font-size: var(--fs-heading-lg);
        line-height: var(--line-height-heading-lg);
    }

}



@media (min-width: 1200px) {

    .xl\:text-xs {
        font-size: var(--fs-xs);
        line-height: var(--line-height-xs);
    }



    .xl\:text-sm {
        font-size: var(--fs-sm);
        line-height: var(--line-height-sm);
    }



    .xl\:text-base {
        font-size: var(--fs-base);
        line-height: var(--line-height-base);
    }



    .xl\:text-lg {
        font-size: var(--fs-lg);
        line-height: var(--line-height-lg);
    }



    .xl\:text-heading-sm {
        font-size: var(--fs-heading-sm);
        line-height: var(--line-height-heading-sm);
    }



    .xl\:text-heading-base {
        font-size: var(--fs-heading-base);
        line-height: var(--line-height-heading-base);
    }



    .xl\:text-heading-lg {
        font-size: var(--fs-heading-lg);
        line-height: var(--line-height-heading-lg);
    }

}











/* Text color */

.text-dark {
    color: var(--color-dark);
}



.text-dark-secondary {
    color: var(--color-text-secondary);
}



.text-disabled {
    color: var(--color-text-disabled);
}



.text-muted {
    color: var(--color-text-muted);
}



.text-white {
    color: var(--color-white);
}



.text-white-70 {
    color: rgba(255, 255, 255, .7);
}



.text-primary {
    color: var(--color-primary-500);
}



.text-secondary {
    color: var(--color-secondary-500);
}



.text-success {
    color: var(--color-success);
}



.text-danger {
    color: var(--color-danger);
}



.text-link {
    color: var(--color-link);
}



.hover\:text-dark:hover {
    color: var(--color-dark);
}



.hover\:text-dark-secondary:hover {
    color: var(--color-text-secondary);
}



.hover\:text-disabled:hover {
    color: var(--color-text-disabled);
}



.hover\:text-muted:hover {
    color: var(--color-text-muted);
}



.hover\:text-white:hover {
    color: var(--color-white);
}



.hover\:text-white-70:hover {
    color: rgba(255, 255, 255, .7);
}



.hover\:text-primary:hover {
    color: var(--color-primary-500);
}



.hover\:text-secondary:hover {
    color: var(--color-secondary-500);
}



.hover\:text-success:hover {
    color: var(--color-success);
}



.hover\:text-danger:hover {
    color: var(--color-danger);
}



.hover\:text-link:hover {
    color: var(--color-link);
}







.bg-white {
    background-color: var(--color-white);
}



.bg-gray {
    background-color: var(--color-gray);
}



.bg-gray-dark {
    background-color: var(--color-gray-dark);
}



.bg-disabled {
    background-color: var(--color-disabled);
}



.bg-primary-10 {
    background-color: var(--color-primary-10);
}



.bg-secondary-10 {
    background-color: var(--color-secondary-10);
}



.bg-secondary-20 {
    background-color: var(--color-secondary-20);
}



.bg-secondary-30 {
    background-color: var(--color-secondary-30);
}



.bg-video {
    background-color: #2f323c;
}







.hover\:bg-white:hover {
    background-color: var(--color-white);
}



.hover\:bg-gray:hover {
    background-color: var(--color-gray);
}



.hover\:bg-gray-dark:hover {
    background-color: var(--color-gray-dark);
}



.hover\:bg-disabled:hover {
    background-color: var(--color-disabled);
}



.border-gray {
    border-color: var(--color-border);
}



.border-gray-light {
    border-color: var(--color-border-light);
}





/* LINE HEIGHT */



.line-height-sm {
    line-height: 1.2 !important;
}



.line-height-base {
    line-height: 1.4 !important;
}



.line-height-md {
    line-height: 1.6 !important;
}



.line-height-lg {
    line-height: 1.8 !important;
}



.line-height-xl {
    line-height: 2 !important;
}







/* ------------ OTHER ------------ */





/* Dropdown */

.theme-dropdown {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
}



.theme-dropdown-toggle {
    padding: 12px 16px;
    border: 1px solid var(--color-border);
    border-radius: 6px;
    transition: all .25s;
    min-height: 50px;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    gap: 4px;
}



.theme-dropdown-toggle-sm {
    padding: 6px 16px;
    min-height: 40px;
}



.theme-dropdown-content {
    position: absolute;
    top: calc(100% + 12px);
    left: 0;
    width: 100%;
    background-color: #fff;
    margin: 0;
    padding: 12px 0;
    transition: all .25s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.20);
    border-radius: 6px;
    min-width: 110px;
    max-width: 250px;
    z-index: 30;
}



.theme-dropdown-content.active {
    top: 100%;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}



.theme-dropdown-content li {
    display: block;
    padding: 8px 16px;
}









/* icon-box */

.icon-box {
    width: 24px;
    height: 24px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
}



.icon-box.icon-box-sm {
    width: 16px;
    height: 16px;
}



.icon-box.icon-box-lg {
    width: 44px;
    height: 44px;
}



.icon-box.icon-box-xl {
    width: 56px;
    height: 56px;
}





@media (min-width: 576px) {

    .sm\:icon-box {
        width: 24px;
        height: 24px;
    }



    .sm\:icon-box.icon-box-sm {
        width: 16px;
        height: 16px;
    }



    .sm\:icon-box.icon-box-lg {
        width: 44px;
        height: 44px;
    }



    .sm\:icon-box.icon-box-xl {
        width: 56px;
        height: 56px;
    }

}



@media (min-width: 768px) {

    .md\:icon-box {
        width: 24px;
        height: 24px;
    }



    .md\:icon-box.icon-box-sm {
        width: 16px;
        height: 16px;
    }



    .md\:icon-box.icon-box-lg {
        width: 44px;
        height: 44px;
    }



    .md\:icon-box.icon-box-xl {
        width: 56px;
        height: 56px;
    }

}



@media (min-width: 992px) {

    .lg\:icon-box {
        width: 24px;
        height: 24px;
    }



    .lg\:icon-box.icon-box-sm {
        width: 16px;
        height: 16px;
    }



    .lg\:icon-box.icon-box-lg {
        width: 44px;
        height: 44px;
    }



    .lg\:icon-box.icon-box-xl {
        width: 56px;
        height: 56px;
    }

}



@media (min-width: 1200px) {

    .xl\:icon-box {
        width: 24px;
        height: 24px;
    }



    .xl\:icon-box.icon-box-sm {
        width: 16px;
        height: 16px;
    }



    .xl\:icon-box.icon-box-lg {
        width: 44px;
        height: 44px;
    }



    .xl\:icon-box.icon-box-xl {
        width: 56px;
        height: 56px;
    }

}









/* theme-form-control */

.theme-form-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
}



.theme-form-label {
    font-size: 16px;
    font-weight: 500;
}



.theme-form-caption {
    font-size: 14px;
    line-height: 20px;
    color: var(--color-text-muted);
}



.theme-form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none !important;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 16px;
    border: 1px solid var(--color-border);
    border-radius: 6px;
    transition: all .25s;
    min-height: 50px;
    text-overflow: ellipsis;
}



.theme-form-control-sm {
    padding: 6px 16px;
    min-height: 40px;
}



.theme-form-group-error .theme-form-control {
    border-color: var(--color-danger);
}



.theme-form-group-error .theme-form-caption {
    color: var(--color-danger);
}



select.theme-form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: center right 12px;
    background-color: #fff;
}





select.theme-form-control {
    background-image: url('../images/icons/angle-down.svg');
    background-size: 24px 24px;
    padding-right: 48px;
}



select.theme-form-control-caret {
    background-image: url('../images/icons/caret-down.svg');
    background-size: 12px 12px;
    padding-right: 36px;
}



.no-resize {
    resize: none;
}







/* Button */

.theme-btn {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 12px 24px;
    min-height: 50px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    border-radius: 6px;
    transition: all .25s;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}



.theme-btn svg,

.theme-btn img {
    width: 24px;
    height: 24px;
    min-width: 24px;
}



.theme-btn img {
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
}



.theme-btn svg *[fill] {
    fill: currentColor;
}



.theme-btn svg *[stroke] {
    stroke: currentColor;
}



.theme-btn.btn-sm {
    gap: 8px;
    padding: 8px 16px;
    min-height: 40px;
}





.btn-primary {
    border-color: var(--color-primary-500);
    background-color: var(--color-primary-500);
    color: #fff;
}



.btn-primary:hover,

.btn-primary:focus {
    border-color: var(--color-primary-400);
    background-color: var(--color-primary-400);
    color: #fff;
}



.btn-secondary {
    border-color: var(--color-secondary-500);
    background-color: var(--color-secondary-500);
    color: #fff;
}



.btn-secondary:hover,

.btn-secondary:focus {
    border-color: var(--color-secondary-400);
    background-color: var(--color-secondary-400);
    color: #fff;
}



.btn-danger {
    border-color: #b20000;
    background-color: #b20000;
    color: #fff;
}



.btn-danger:hover,

.btn-danger:focus {
    border-color: #BB1919;
    background-color: #BB1919;
    color: #fff;
}





.btn-dark {
    border-color: var(--color-dark);
    background-color: var(--color-dark);
    color: #fff;
}



.btn-dark:hover,

.btn-dark:focus {
    border-color: var(--color-dark);
    background-color: var(--color-dark);
    color: #fff;
}





.btn-outline-primary {
    border-color: var(--color-primary-500);
    background-color: transparent;
    color: var(--color-primary-500);
}



.btn-outline-primary:hover,

.btn-outline-primary:focus {
    border-color: var(--color-primary-600);
    background-color: transparent;
    color: var(--color-primary-600);
}



.btn-outline-secondary {
    border-color: var(--color-secondary-500);
    background-color: transparent;
    color: var(--color-secondary-500);
}



.btn-outline-secondary:hover,

.btn-outline-secondary:focus {
    border-color: var(--color-secondary-600);
    background-color: transparent;
    color: var(--color-secondary-600);
}



.btn-outline-dark {
    border-color: var(--color-dark);
    background-color: transparent;
    color: var(--color-dark);
}



.btn-outline-dark:hover,

.btn-outline-dark:focus {
    border-color: var(--color-dark);
    background-color: transparent;
    color: var(--color-dark);
}





.btn-block {
    width: 100%;
}



.theme-btn.btn-disabled,

.theme-btn.disabled,

.theme-btn[disabled] {
    opacity: .75;
    cursor: auto;
    pointer-events: none;
}



.btn-text {
    text-align: center;
}



.btn-float-icon .btn-text {
    flex: 1;
}



.underline-element {
    border-bottom: 1px solid var(--color-dark);
}



/* SLICK */

.slick-dots {
    margin: 0;
    padding-top: 24px;
    list-style: none;
    display: flex !important;
    justify-content: center;
    gap: 12px;
    align-items: center;
}



.testimonial-items .slick-dots {
    padding-right: 32px;
}



.slick-dots li {
    display: inline-block;
}



.slick-dots li button {
    width: 10px;
    height: 10px;
    border: 0;
    border-radius: 9999px;
    background: var(--color-dividers);
    text-indent: -9999px;
    overflow: hidden;
    transition: all .25s;
    cursor: pointer;
}



.slick-dots li.slick-active button,

.slick-dots li button:hover {
    background: var(--color-disabled);
}



.owl-nav-item {
    border: 0;
    cursor: pointer;
    width: 48px;
    height: 48px;
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    overflow: hidden !important;
    transition: all .25s;
}



.owl-nav-item:hover {
    background-color: rgba(0, 0, 0, .35);
}



.owl-nav-item svg {
    width: 32px;
    height: 32px;
}



.owl-nav-tall .owl-nav-item {
    width: 48px;
    height: 72px;
}



.owl-nav-tall .owl-nav-item {
    border-radius: 6px;
}



.owl-nav-tall .owl-nav-item.owl-nav-prev {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}



.owl-nav-tall .owl-nav-item.owl-nav-next {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}





.owl-nav-small .owl-nav-item {
    width: 32px;
    height: 32px;
}



.owl-nav-small .owl-nav-item svg {
    width: 24px;
    height: 24px;
}



@media (max-width: 767.98px) {

    .owl-nav-item {
        width: 36px;
        height: 36px;
    }



    .owl-nav-tall .owl-nav-item {
        width: 36px;
        height: 64px;
    }



    .owl-nav-item svg {
        width: 24px;
        height: 24px;
    }



    .owl-nav-small .owl-nav-item {
        width: 28px;
        height: 28px;
    }



    .owl-nav-small .owl-nav-item svg {
        width: 18px;
        height: 18px;
    }

}





.tab-heading {
    margin: 0 auto;
}



.tab-heading-outer::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-border);
    z-index: 1;
}



.tab-heading-item.active .tab-heading-item-title {
    border-bottom: 1px solid var(--color-dark);
}



.tab-content-item {
    display: none;
}



.tab-content-item.active {
    display: block;
}



.tab-heading-item:not(:first-child) {
    padding-left: 16px;
}



.tab-heading-item:not(:last-child) {
    padding-right: 16px;
}



@media (max-width: 991.98px) {

    .tab-heading-item:not(:first-child) {
        padding-left: 10px;
    }



    .tab-heading-item:not(:last-child) {
        padding-right: 10px;
    }

}



@media (max-width: 767.98px) {

    .tab-heading-item:not(:first-child) {
        padding-left: 8px;
    }



    .tab-heading-item:not(:last-child) {
        padding-right: 8px;
    }

}



@media (max-width: 575.98px) {

    .tab-heading-item:not(:first-child) {
        padding-left: 6px;
    }



    .tab-heading-item:not(:last-child) {
        padding-right: 6px;
    }

}





.read-more-area-actions {
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, #fff 0%, #fff 32px, transparent);
    padding-top: 44px;
}



.read-more-area-more {
    display: block;
}



.read-more-area-less {
    display: none;
}



.read-more-area .read-more-area-btn svg {
    width: 16px;
    height: 16px;
    transition: all .25s;
}



.read-more-area.is-show-full-content .read-more-area-actions {
    padding-top: 16px;
    background: #fff;
    position: relative;
}



.read-more-area.is-show-full-content .read-more-area-more {
    display: none;
}



.read-more-area.is-show-full-content .read-more-area-less {
    display: block;
}



.read-more-area.is-show-full-content .read-more-area-btn svg {
    transform: rotate(180deg);
}



/* CHECKBOX */

.custom-checkbox {
    display: flex;
    position: relative;
    align-items: center;
    gap: 12px;
    padding-left: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.custom-checkbox-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}



.custom-checkbox-mark {
    position: relative;
    height: 24px;
    width: 24px;
    border: 1px solid var(--color-border);
    order: -1;
    border-radius: 4px;
    transition: all .25s;
    min-width: 24px;
}



.custom-checkbox-mark:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 12px;
    border: solid var(--color-white);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) translate(-50%, -50%);
    transform-origin: top center;
    opacity: 0;
    visibility: hidden;
    transition: all .25s;
}



.custom-checkbox-input:checked~.custom-checkbox-mark {
    border: 1px solid var(--color-dark);
    background: var(--color-dark);
}



.custom-checkbox-input:checked~.custom-checkbox-mark:after {
    opacity: 1;
    visibility: visible;
}



/* Radio */

.custom-radio {
    display: flex;
    position: relative;
    align-items: center;
    gap: 12px;
    padding-left: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.custom-radio-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}



.custom-radio-mark {
    position: relative;
    height: 24px;
    width: 24px;
    border: 1px solid var(--color-border);
    order: -1;
    border-radius: 24px;
    transition: all .25s;
    min-width: 24px;
}



.custom-radio-mark:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    transform: translate(-50%, -50%);
    transform-origin: center;
    background-color: var(--color-white);
    opacity: 0;
    visibility: hidden;
    transition: all .25s;
}



.custom-radio-input:checked~.custom-radio-mark {
    border: 1px solid var(--color-dark);
    background: var(--color-dark);
}



.custom-radio-input:checked~.custom-radio-mark:after {
    opacity: 1;
    visibility: visible;
}







/* HEADER */



header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9000;
    background: var(--color-white);
    width: 100%;
    box-shadow: 0px -0.5px 0px 0px #CFD6E4 inset;
}



.header-inner {
    /* grid-template-columns: minmax(40, 100px) 1fr minmax(40, 100px); */

    grid-template-columns: auto 1fr auto;
    padding: 0;
    position: relative;
}



.header-center {
    width: 100%;
}



.header-search-desktop {
    width: 100%;
    min-width: 1px;
    flex: 1;
}



.header-search-desktop,

.header-search-desktop-form {
    position: relative;
}



.header-search-desktop-input {
    border: 0;
    width: 100%;
    padding: 16px 36px 16px 16px;
    font-size: 16px;
}



.header-search-desktop-form {
    display: flex;
    align-items: center;
}



.header-search-desktop-btn {
    padding: 0;
    border: 0;
    background: #fff;
    z-index: 2;
    cursor: pointer;
    transition: all 0.25s;
    border-radius: 6px;
}



.header-search-desktop-btn svg * {
    transition: all 0.25s;
}



.header-search-desktop-btn svg {
    width: 24px;
    height: 24px;
}







.header-search-desktop-btn:hover svg *,

.header-search-desktop-btn:focus svg * {
    stroke: var(--color-link);
}



.horizontal-menu {
    flex: 1;
}



.site-logo img {
    height: 40px;
    width: auto;
    -o-object-fit: contain;
    object-fit: contain;
}



.site-nav {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 1px;
    gap: 28px;
    justify-content: center;
}



.site-nav .item {
    position: relative;
    display: block;
}



.site-nav .item>a {
    color: var(--color-dark);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    position: relative;
}



.site-nav>.item>a {
    padding: 22px 0;
}



.site-nav .item>a>.item-text {
    display: block;
    padding: 0;
    position: relative;
}



.site-nav>.item>a:hover {
    color: var(--color-text-secondary);
}



.site-nav>.item>a:hover svg path {
    stroke: var(--color-text-secondary);
}







.sub-menu-mobile {
    position: absolute;
    /* background: #fff; */

    width: 300px;
    transition: all 0.25s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}



.menu-lv-1 .sub-menu-mobile {
    top: calc(100% + 12px);
    left: 0;
}



.menu-lv-2 .sub-menu-mobile {
    left: 100%;
    top: 12px;
}



@media (min-width: 1200px) {

    .site-nav>.item.menu-dropdown>a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        pointer-events: none;
        opacity: 0;
        z-index: 2;
        width: 0;
        height: 2px;
        background: var(--color-secondary-500);
    }



    .site-nav>.item.menu-dropdown:hover>a::after {
        opacity: 1;
        transition: all 0.25s;
        width: 100%;
    }



    .menu-dropdown:hover>.sub-menu-mobile {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }



    .menu-dropdown.menu-lv-1:hover>.sub-menu-mobile {
        top: 100%;
    }



    .menu-dropdown.menu-lv-2:hover>.sub-menu-mobile {
        top: -12px;
    }

}



@media (max-width: 1199.98px) {

    .site-nav {
        position: relative;
    }

}



.sub-menu-mobile .site-nav-dropdown {
    margin: 0;
    list-style: none;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
    padding: 12px 0;
    border-radius: 6px;
    background: #fff;
}



.sub-menu-mobile .menu-mb-title {
    display: none;
}



.site-nav .hide_pc {
    display: none;
}



.sub-menu-mobile .site-nav-dropdown li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    padding: 8px;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-dark);
    transition: all 0.25s;
    font-weight: normal;
    border-radius: 6px;
}







.sub-menu-mobile .menu-dropdown {
    position: relative;
}



.site-nav .menu-icon {
    display: block;
    width: 20px;
    height: 20px;
    /* background-image: url(../images/icons/chevrons-right.svg); background-repeat: no-repeat; background-position: center center; */
}



.menu-lv-1>a .menu-icon {
    transform: rotate(90deg);
}



.header-left {
    display: none;
}



.header-cart-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color-secondary-500);
    color: #fff;
    min-width: 20px;
    min-height: 20px;
    padding: 2px 6px 2px 7px;
    line-height: 16px;
    font-size: 10px;
    border-radius: 9999px;
    transform: translate(50%, -50%);
    font-weight: bold;
}



.header-left svg,

.header-right svg {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
}



.menu-toggle {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.menu-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
}



.menu-close:hover {
    opacity: 0.75;
}



.mobile-nav-header {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    background: #fff;
    border-bottom: 1px solid var(--color-border-light);
}



.mobile-nav-title {
    color: var(--color-dark);
    font-weight: bold;
    font-size: 18px;
    display: block;
}







.header-search-desktop-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9002;
    background: #fff;
    height: 68px;
    box-shadow: 0px -0.5px 0px 0px #CFD6E4 inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-100%);
    transition: all 0.25s ease-in-out;
}



.header-search-desktop-popup.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
}



.header-search-desktop-outer {
    display: flex;
    gap: 12px;
    width: 100%;
    align-items: center;
}



.header-search-desktop-outer .modal-close {
    background: transparent;
    width: 24px;
    height: 24px;
}



.header-search-desktop-outer .modal-close svg {
    width: 24px;
    height: 24px;
    transition: all .25s;
}



.header-search-desktop-outer .modal-close svg path {
    fill: var(--color-dark);
}



.header-search-desktop-outer .modal-close:hover svg {
    transform: scale(0.9);
}



.nav-mobile-info-title {
    border-bottom: 1px solid var(--color-border-light);
    background-color: #f8f8f8;
    padding: 14px 24px;
}



.sub-menu-mobile .site-nav-dropdown .item-thumb {
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s;
    width: 96px;
    /* padding: 6px 12px; border: 1px solid var(--color-dividers); */
}





.sub-menu-mobile .site-nav-dropdown .has-item-thumb:hover .item-thumb {
    /* transform: scale(0.9); */
}



.sub-menu-mobile .site-nav-dropdown .item-thumb~.item-text {
    flex: 1;
    padding-left: 12px;
}



/* FIX CONTACT FORM 7 */

.wpcf7-form>.owl-form-items,

.wpcf7-form>fieldset>p,

.wpcf7-form>p {
    display: flex;
    flex-direction: column;
    gap: 16px;
}



.wpcf7-form>.owl-form-items>br,

.wpcf7-form>fieldset>p>br,

.wpcf7-form>p>br {
    display: none;
}



.wpcf7-form label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
}



.wpcf7-form label>.text-hidden {
    display: none;
}



.wpcf7-form-control-wrap {
    display: flex;
    flex-direction: column;
    gap: 4px;
}



.wpcf7-form-control-wrap .wpcf7-form-control {
    max-width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border: 1px solid var(--color-border);
    border-radius: 6px;
    transition: all .25s;
    text-overflow: ellipsis;
    padding: 6px 16px;
    min-height: 40px;
    font-size: var(--fs-sm);
    line-height: var(--line-height-sm);
    width: 100%;
}



.wpcf7-form-control-wrap select.wpcf7-form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: center right 12px;
    background-color: #fff;
}





.wpcf7-form-control-wrap select.wpcf7-form-control {
    background-image: url('../images/icons/angle-down.svg');
    background-size: 24px 24px;
    padding-right: 48px;
}



.wpcf7-submit {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    border-radius: 6px;
    transition: all .25s;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    border-color: var(--color-primary-500);
    background-color: var(--color-primary-500);
    color: #fff;
    gap: 8px;
    padding: 8px 16px;
    min-height: 40px;
}



.wpcf7-submit:hover,

.wpcf7-submit:focus {
    border-color: var(--color-primary-400);
    background-color: var(--color-primary-400);
    color: #fff;
}



.wpcf7-form label>span {
    max-width: 100%;
    min-width: 1px;
}



.wpcf7-spinner {
    margin: 0 !important;
}



.wpcf7-response-output {
    margin: 8px 0 !important;
    border-radius: 6px;
    border-width: 1px !important;
    padding: 12px !important;
    font-size: var(--fs-sm);
    line-height: var(--line-height-sm);
}



.wpcf7-spinner {
    display: none;
}



.wpcf7-form.submitting .wpcf7-spinner {
    display: inline-block;
}



.wpcf7-form>fieldset {
    border: 0;
}



.wpcf7-form>fieldset legend {
    margin-bottom: 16px;
    text-align: center;
    font-weight: 500;
    font-size: var(--fs-lg);
    line-height: var(--line-height-lg);
}







.text-hidden {
    text-indent: -9999px;
}



/* FIX POPUP */

html.pum-open {
    overflow: hidden !important;
}



body .pum-overlay {
    overflow: hidden !important;
    padding-left: 46px;
    padding-right: 46px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, .5);
}



body .pum-overlay.pum-active {
    display: flex !important;
    justify-content: center;
    align-items: center;
    transition: all .25s;
}



body .pum-overlay .pum-container {
    padding: 0 !important;
    background-color: transparent;
    border: 0 !important;
    box-shadow: none !important;
    margin: 0 !important;
    left: auto !important;
    top: auto !important;
    position: relative !important;
}



body .pum-overlay .pum-container .pum-content {
    padding: 24px;
    background-color: #fff;
    border-radius: 12px;
    border: 0;
    box-shadow: none;
}

body .pum-overlay .pum-container .pum-content {
    max-height: calc(100vh - 110px);
    overflow: auto;
}

body .pum-overlay .pum-container .pum-content::-webkit-scrollbar {

    -webkit-appearance: none;

}



body .pum-overlay .pum-container .pum-content::-webkit-scrollbar:vertical {

    width: 10px;

}



body .pum-overlay .pum-container .pum-content::-webkit-scrollbar:horizontal {

    height: 8px;

}



body .pum-overlay .pum-container .pum-content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 2px solid #eee;

}



body .pum-overlay .pum-container .pum-content::-webkit-scrollbar-track {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #eee;

}




body .pum-overlay .pum-container .pum-close {
    width: 36px;
    height: 36px;
    border-radius: 9999px;
    background-color: rgba(0, 0, 0, .25);
    transition: all .25s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -36px !important;
    right: -36px !important;
    box-shadow: none !important;
    border: 0 !important;
    line-height: 1;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}



body .pum-overlay .pum-container .pum-close:hover {
    background-color: rgba(0, 0, 0, .35);
}



@media (max-width: 767.98px) {
    body .pum-overlay .pum-container .pum-close {
        width: 30px;
        height: 30px;
        top: -24px !important;
        right: -24px !important;
    }

    body .pum-overlay .pum-container .pum-content {
        padding: 16px;
    }

    body .pum-overlay {
        padding-left: 30px;
        padding-right: 30px;
    }
}


.section-more-link svg {
    width: 22px;
    height: 22px;
    transition: all 0.25s;
}



.section-more-link:hover svg {
    transform: translateX(4px);
}



.section-more-link:hover svg path {
    stroke: var(--color-text-secondary);
}



.section-more-link:hover {
    stroke: var(--color-text-secondary);
    border-color: var(--color-text-secondary);
}



.badge {
    display: inline-flex;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    color: inherit;
    line-height: 1;
    font-weight: 500;
    font-size: 13px;
    padding: 5px 8px;
    border-radius: 6px;
}



.badge-primary {
    color: #fff;
    background-color: #009ef7;
}



.badge-success {
    color: #fff;
    background-color: #50cd89;
}



.badge-danger {
    color: #fff;
    background-color: #f1416c;
}



.badge-warning {
    color: #fff;
    background-color: #ffc700;
}



.badge-light-primary {
    color: #009ef7;
    background-color: #f1faff;
}



.badge-light-success {
    color: #50cd89;
    background-color: #e8fff3;
}



.badge-light-danger {
    color: #f1416c;
    background-color: #fff5f8;
}



.badge-light-warning {
    color: #ffc700;
    background-color: #fff8dd;
}



.badge-outline-primary {
    color: #009ef7;
    border: 1px solid #009ef7;
}



.badge-outline-success {
    color: #50cd89;
    border: 1px solid #50cd89;
}



.badge-outline-danger {
    color: #f1416c;
    border: 1px solid #f1416c;
}



.badge-outline-warning {
    color: #ffc700;
    border: 1px solid #ffc700;
}



.badge-outline-gray {
    border: 1px solid var(--color-dividers);
    color: var(--color-dark);
    /* background-color: var(--color-gray); */
}