a {

    color: var(--color-dark);

}



a:hover {

    color: #dd3333;

}



@media (min-width: 1200px) {

    .sub-menu-mobile .site-nav-dropdown li {

        padding: 0 8px;

    }



    .site-nav .item.is-mega-menu.is-mega-menu-grid>.sub-menu-mobile>.site-nav-dropdown li {

        padding: 0;

    }



    .site-nav .item.is-mega-menu.is-mega-menu-grid>.sub-menu-mobile>.site-nav-dropdown li.is-all-link-item {

        grid-column-start: 1;

        grid-column-end: 5;

        text-align: center;

    }



    .site-nav .item.is-mega-menu.is-mega-menu-grid.projects-mega-menu>.sub-menu-mobile>.site-nav-dropdown li.is-all-link-item {

        grid-column-end: 4;

    }



    .site-nav .item.is-mega-menu.is-mega-menu-grid>.sub-menu-mobile>.site-nav-dropdown li.is-all-link-item>a {

        width: auto;

        display: inline-flex;

        margin: 0 auto;

        padding: 4px 12px;

        background: transparent;

    }



    .site-nav .item.is-mega-menu.is-mega-menu-grid>.sub-menu-mobile>.site-nav-dropdown li a.has-item-thumb {

        border: 1px solid var(--color-dividers);

        padding: 12px;

        background-color: #fff;

        height: 100%;

        gap: 12px;

    }



    .site-nav .item.is-mega-menu.is-mega-menu-grid>.sub-menu-mobile>.site-nav-dropdown li a.has-item-thumb[data-post-type="dang-duoc-quan-tam"] {

        border: 1px solid rgb(220 164 71 / 50%);

        background-color: #fefefc;

        padding: 12px;

        border-radius: 12px;

    }



    .sub-menu-mobile .site-nav-dropdown li a:hover {

        background: #F5F5F5;

    }



    .site-nav .item.is-mega-menu>.sub-menu-mobile>.site-nav-dropdown>.menu-dropdown>.sub-menu-mobile>.site-nav-dropdown::-webkit-scrollbar {

        -webkit-appearance: none;

    }



    .site-nav .item.is-mega-menu>.sub-menu-mobile>.site-nav-dropdown>.menu-dropdown>.sub-menu-mobile>.site-nav-dropdown::-webkit-scrollbar:vertical {

        width: 5px;

    }



    .site-nav .item.is-mega-menu>.sub-menu-mobile>.site-nav-dropdown>.menu-dropdown>.sub-menu-mobile>.site-nav-dropdown::-webkit-scrollbar:horizontal {

        height: 5px;

    }



    .site-nav .item.is-mega-menu>.sub-menu-mobile>.site-nav-dropdown>.menu-dropdown>.sub-menu-mobile>.site-nav-dropdown::-webkit-scrollbar-thumb {

        background-color: rgba(0, 0, 0, 0.1);

        border-radius: 10px;

        border: 0px solid #ffffff;

    }



    .site-nav .item.is-mega-menu>.sub-menu-mobile>.site-nav-dropdown>.menu-dropdown>.sub-menu-mobile>.site-nav-dropdown::-webkit-scrollbar-track {

        border-radius: 10px;

        background-color: #eee;

    }



    .site-nav .item.is-mega-menu.is-mega-menu-grid>.sub-menu-mobile>.site-nav-dropdown {

        gap: 16px;

        display: grid;

        grid-template-columns: repeat(4, 1fr);

    }



    .site-nav .item.is-mega-menu.is-mega-menu-grid.projects-mega-menu>.sub-menu-mobile>.site-nav-dropdown {

        grid-template-columns: repeat(3, 1fr);

    }



    .site-nav .item.is-mega-menu.is-mega-menu-grid>.sub-menu-mobile>.site-nav-dropdown li a {

        padding: 0;

        width: 100%;

        flex-direction: column;

    }



    .sub-menu-mobile .site-nav-dropdown .item-thumb~.item-text {

        padding-left: 0;

        /* text-align: center; */

    }



    .site-nav .item.is-mega-menu.is-mega-menu-grid>.sub-menu-mobile>.site-nav-dropdown li a .item-thumb {

        padding: 0;

        border: none;

        width: 100%;

        border-radius: 6px;

    }



    .site-nav .item.is-mega-menu.is-mega-menu-grid>.sub-menu-mobile>.site-nav-dropdown li a .item-thumb img {

        width: 100%;

        height: 100%;

        position: absolute;

        top: 0;

        left: 0;

        -o-object-fit: cover;

        object-fit: cover;

        -o-object-position: center;

        object-position: center;

    }



    .site-nav .item.is-mega-menu {

        position: static;

    }



    .site-nav .item.is-mega-menu>.sub-menu-mobile {

        width: 100%;

    }



    .site-nav .item.is-mega-menu>.sub-menu-mobile>.site-nav-dropdown {

        padding: 16px;

        gap: 24px;

        display: flex;

    }



    .site-nav .item.is-mega-menu>.sub-menu-mobile>.site-nav-dropdown>.menu-dropdown {

        flex: 1;

        display: flex;

        flex-direction: column;

        gap: 8px;

    }



    .site-nav .item.is-mega-menu>.sub-menu-mobile>.site-nav-dropdown>.menu-dropdown>a {

        padding: 0;

    }



    .site-nav .item.is-mega-menu>.sub-menu-mobile>.site-nav-dropdown>.menu-dropdown>a .icon-dropdown {

        display: none;

    }



    .site-nav .item.is-mega-menu>.sub-menu-mobile>.site-nav-dropdown>.menu-dropdown>a .item-text {

        font-size: 16px;

        font-weight: bold;

        line-height: 24px;

    }



    .site-nav .item.is-mega-menu>.sub-menu-mobile>.site-nav-dropdown>.menu-dropdown>.sub-menu-mobile {

        left: 0 !important;

        top: 0 !important;

        position: relative !important;

        width: 100% !important;

    }



    .site-nav .menu-dropdown.menu-lv-1.item.is-mega-menu:hover>.sub-menu-mobile>.site-nav-dropdown>.menu-dropdown>.sub-menu-mobile {

        opacity: 1 !important;

        visibility: visible !important;

        pointer-events: all !important;

    }



    .site-nav .item.is-mega-menu>.sub-menu-mobile>.site-nav-dropdown>.menu-dropdown>.sub-menu-mobile>.site-nav-dropdown {

        padding: 0;

        border-radius: 0;

        box-shadow: none;

        max-height: 308px;

        overflow: auto;

    }



    .site-nav .item.is-mega-menu>.sub-menu-mobile>.site-nav-dropdown>.menu-dropdown>.sub-menu-mobile>.site-nav-dropdown li a {

        padding: 6px 0;

        font-size: 14px;

        line-height: 20px;

    }











}



@media (min-width: 1200px) and (max-height: 768px) {

    .site-nav .item.is-mega-menu.is-mega-menu-grid>.sub-menu-mobile>.site-nav-dropdown li a.has-item-thumb[data-post-type="dang-duoc-quan-tam"] .item-thumb~.item-text h3 {

        display: -webkit-box;

        -webkit-line-clamp: 2;

        -webkit-box-orient: vertical;

        overflow: hidden;

        text-overflow: ellipsis;

    }



    .site-nav .item.is-mega-menu.is-mega-menu-grid>.sub-menu-mobile>.site-nav-dropdown li a.has-item-thumb[data-post-type="du-an"] {

        padding: 10px;

        gap: 10px;

    }



    .site-nav .item.is-mega-menu.is-mega-menu-grid>.sub-menu-mobile>.site-nav-dropdown li a.has-item-thumb[data-post-type="du-an"] .item-thumb .ratio-thumb {

        padding-bottom: 56.25%;

    }

}



.menu-item-label {

    font-size: 10px;

    padding: 2px 4px;

    border-radius: 4px;

    position: absolute;

    top: 4px;

    display: inline-block;

    right: 0;

    line-height: 1;

    transform: translateY(-100%);

}



.menu-item-label-hot {

    background-color: #dd3333;

    color: #fff;

}



@media (max-width: 1639.98px) {



}



@media (max-width: 1439.98px) {

    .menu-lv-1:last-child .sub-menu-mobile {

        right: 0;

        left: auto;

    }

}



@media (max-width: 1199.98px) {

    .menu-item-label {

        position: relative;

        transform: none;

        top: 0;

        margin-left: 4px;

    }



    .header-left svg,

    .header-right svg {

        width: 28px;

        height: 28px;

        min-width: 28px;

        min-height: 28px;

    }



    .header-wrapper {

        padding: 14px 0;

    }



    .mobile-nav-header {

        display: flex;

    }



    .header-left {

        display: flex;

        align-items: center;

        gap: 16px;

    }



    .header-left,

    .header-right {

        flex: 1;

        transition: all 0.25s;

    }



    .header-center {

        position: fixed;

    }



    .site-logo {

        transition: all 0.25s;

    }





    .header-inner {

        grid-template-columns: 1fr auto 1fr;

        padding: 0;

    }







    .horizontal-menu {

        position: fixed;

        top: 0;

        left: 0;

        width: 100%;

        height: 100%;

        background: #fff;

        z-index: 99999;

        background-color: rgba(0, 0, 0, 0.6);

        display: flex;

        opacity: 0;

        visibility: hidden;

        pointer-events: none;

        transition: all 0.45s ease;

    }



    .horizontal-menu.active {

        opacity: 1;

        visibility: visible;

        pointer-events: all;

    }



    .horizontal-menu .nav-bar {

        height: 100%;

        background: #fff;

        max-width: 337px;

        width: 100%;

        overflow: hidden;

        transform: translateX(-100%);

        transition: all 0.45s ease;

        display: flex;

        flex-direction: column;

    }



    .nav-bar-content {

        height: 100%;

        flex: 1;

        padding-bottom: 24px;

        overflow: auto;

    }



    .horizontal-menu.active .nav-bar {

        transform: translateX(0);

    }



    .site-nav {

        flex-direction: column;

        gap: 0;

    }



    .site-nav .item {

        width: 100%;

    }



    .site-nav li.is-hide {

        display: none !important;

    }



    .site-nav .item>a {

        padding: 12px 24px;

        border-bottom: 1px solid #ebebeb;

    }



    .site-nav .item>a>svg {

        display: none;

    }



    .site-nav .item>a>.item-text::after {

        display: none;

    }



    .site-nav .item>a>.item-text {

        transition: all 0.25s;

        padding: 0;

    }



    .sub-menu-mobile {

        top: 48px !important;

        left: 0 !important;

        width: 337px !important;

        position: fixed;

        height: 100%;

        z-index: 100;

        transition: transform 0.4s ease;

        transform: translate(-100%);

        background: #fff;

        opacity: 1 !important;

        visibility: visible !important;

    }



    .menu-dropdown.active>.sub-menu-mobile {

        top: 0 !important;

        transform: none;

        position: relative;

        pointer-events: all !important;

        width: 100% !important;

    }



    .menu-dropdown.active>a {

        display: none !important;

    }



    .sub-menu-mobile .site-nav-dropdown {

        padding: 0 !important;

        box-shadow: none !important;

    }



    .site-nav .item>a>.icon-dropdown {

        display: block;

    }



    .menu-lv-1>a .menu-icon {

        transform: rotate(0deg);

    }



    .sub-menu-mobile .site-nav-dropdown li a:hover {

        opacity: 1;

    }



    .site-nav .item>a {

        font-size: 14px;

    }





    .sub-menu-mobile .menu-mb-title {

        display: flex;

        align-items: center;

        justify-content: space-between;

        padding: 14px 24px;

        border-bottom: 1px solid #ebebeb;

        background-color: #f8f8f8;

        gap: 8px;

        position: relative;

    }



    .site-nav .menu-icon {

        opacity: 0.75;

    }



    .sub-menu-mobile .menu-mb-title .menu-icon {

        width: 24px;

        height: 24px;

        transform: rotate(180deg);

        transition: all 0.25s;

        opacity: 1;

    }



    .sub-menu-mobile .menu-mb-title .icon-dropdown {

        cursor: pointer;

        position: absolute;

        left: 24px;

        top: 50%;

        transform: translateY(-50%);

    }



    .sub-menu-mobile .menu-mb-title .icon-dropdown:hover .menu-icon,

    .sub-menu-mobile .menu-mb-title .icon-dropdown:focus .menu-icon {

        transform: rotate(180deg) translateX(4px);

    }



    .sub-menu-mobile .menu-mb-title .item-text {

        padding: 0 36px;

        width: 100%;

        text-align: center;

        text-transform: uppercase;

        font-size: 14px;

        font-weight: bold;

    }



    .sub-menu-mobile .site-nav-dropdown .hide_pc {

        display: block;

    }



    .sub-menu-mobile .site-nav-dropdown li a {

        padding: 14px 24px;

        border-bottom: 1px solid #ebebeb;

        font-size: 14px;

    }



    .sub-menu-mobile .site-nav-dropdown .hide_pc a .item-text {

        font-weight: bold;

    }



    .menu-lv-1.is-show-level-2>.sub-menu-mobile>.menu-mb-title {

        display: none;

    }

}



@media (max-width: 767.98px) {

    .footer-widget-content:not(.footer-widget-open) {

        display: none;

    }

}





/* FOOTER */

footer {

    background-color: #222531;

}



.footer-widgets {

    --footer-widgets-gap: 32px;

    --footer-widgets-space: calc(calc(var(--footer-widgets-gap) * 2) / 3);

    display: grid;

    grid-template-columns: calc(40% - var(--footer-widgets-space)) calc(20% - var(--footer-widgets-space)) calc(40% - var(--footer-widgets-space));

    row-gap: 24px;

    -moz-column-gap: var(--footer-widgets-gap);

    column-gap: var(--footer-widgets-gap);
    position: relative;

}
.footer-widget-item{
    position: relative;
    z-index: 2;
}
.footer-widgets-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
    z-index: 1;
}


.footer-menu>li {

    display: block;

}



.footer-menu>li>a {

    line-height: 1.8 !important;

    color: rgba(255, 255, 255, 0.7);

    font-size: var(--fs-sm);

    padding-top: 2px;

    padding-bottom: 2px;

    margin: 6px 0;

    display: inline-block !important;

    position: relative;

}



.footer-menu>li>a:hover {

    color: var(--color-white);

}



.footer-menu>li>a::after {

    content: "";

    position: absolute;

    bottom: 0;

    left: 0;

    width: 0;

    height: 0.5px;

    background-color: currentColor;

    opacity: 0;

    width: 0;

    transition: all .25s;

}



.footer-menu>li>a:hover::after {

    opacity: 1;

    width: 100%;

}



.footer-widget-content a {

    padding-bottom: 2px;

    display: inline-block !important;

    position: relative;

}



.footer-widget-content a:hover {

    color: var(--color-white);

}



.footer-widget-content a::after {

    content: "";

    position: absolute;

    bottom: 0;

    left: 0;

    width: 0;

    height: 0.5px;

    background-color: currentColor;

    opacity: 0;

    width: 0;

    transition: all .25s;

}



.footer-widget-content a:hover::after {

    opacity: 1;

    width: 100%;

}



footer .ratio-thumb iframe {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    -o-object-fit: cover;

    object-fit: cover;

    -o-object-position: center;

    object-position: center;

    border: 0;

}



.footer-map {

    border: 1px solid rgb(220 164 71 / 50%);

    padding: 6px;

    border-radius: 8px;

    overflow: hidden;

}



.footer-top {

    background-color: var(--color-secondary-20);

}



.footer-bottom {

    border-top: 1px solid rgba(255, 255, 255, .125);

}





.social-icon a svg,

.social-icon a img {

    transition: all 0.25s;

}



.social-icon a:hover svg,

.social-icon a:hover img {

    transform: scale(0.9);

    transform-origin: center;

}



.icon-toggle {

    display: inline-flex;

    align-items: center;

    justify-content: center;

    width: 32px;

    height: 32px;

    position: relative;

}



.icon-toggle::before,

.icon-toggle::after {

    content: "";

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background-position: center;

    background-repeat: no-repeat;

    background-size: 20px 20px;

}



.icon-toggle::before {

    background-image: url(../images/icons/minus.svg);

}



.icon-toggle::after {

    background-image: url(../images/icons/plus.svg);

}



.icon-toggle-minus::before {

    display: block;

}



.icon-toggle-minus::after {

    display: none;

}



.icon-toggle-plus::before {

    display: none;

}



.icon-toggle-plus::after {

    display: block;

}



.footer-cta-btns-area {

    position: fixed;

    bottom: 0;

    left: 0;

    width: 100%;

    height: auto;

    z-index: 8000;

}



.footer-cta-btns {

    display: flex;

    padding: 8px;

    gap: 8px;

    background: var(--color-primary-500);

    border-top-left-radius: 6px;

    border-top-right-radius: 6px;

    flex-wrap: wrap;

    flex: 1;

}



.footer-cta-btn {

    display: inline-flex;

    align-items: center;

    gap: 8px;

    padding: 8px;

    background: rgba(255, 255, 255, .2);

    border-radius: 6px;

    color: #fff !important;

    flex: auto;

    justify-content: center;

}



.footer-cta-btn .icon-box {

    width: 20px;

    height: 20px;

}



.footer-cta-btn:hover {

    background: var(--color-primary-600);

    color: #fff;

}



.footer-cta-btns-outer {

    display: flex;

    justify-content: center;

}



.footer-cta-btn-icon {

    -webkit-animation: tada 1.2s infinite;

    animation: tada 1.2s infinite;

}



@-webkit-keyframes tada {

    0% {

        transform: scaleX(1)

    }



    10%,

    20% {

        transform: scale3d(.9, .9, .9) rotate(-3deg)

    }



    30%,

    50%,

    70%,

    90% {

        transform: scale3d(1.3, 1.3, 1.3) rotate(3deg)

    }



    40%,

    60%,

    80% {

        transform: scale3d(1.3, 1.3, 1.3) rotate(-3deg)

    }



    to {

        transform: scaleX(1)

    }

}



@keyframes tada {

    0% {

        transform: scaleX(1)

    }



    10%,

    20% {

        transform: scale3d(.9, .9, .9) rotate(-3deg)

    }



    30%,

    50%,

    70%,

    90% {

        transform: scale3d(1.3, 1.3, 1.3) rotate(3deg)

    }



    40%,

    60%,

    80% {

        transform: scale3d(1.3, 1.3, 1.3) rotate(-3deg)

    }



    to {

        transform: scaleX(1)

    }

}



@media (max-width: 1199.98px) {

    .footer-widgets {

        grid-template-columns: 1fr 1fr;

        gap: 44px 24px;

    }

}



@media (max-width: 991.98px) {

    .footer-cta-btn-text {

        display: none;

    }



    .footer-cta-btns {

        width: 100%;

        justify-content: space-around;

    }



    .footer-cta-btn {

        flex: 1;

        justify-content: center;

    }



}



@media (max-width: 767.98px) {

    .footer-widgets {

        grid-template-columns: 1fr;

        gap: 0;

    }



    .footer-widget-item {

        padding: 16px 0;

    }



}







.line {

    height: 1px;

    background-color: var(--color-border);

}





.youtube-thumb svg {

    width: 62px;

    height: 62px;

    transition: all 0.25s;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

}



.youtube-thumb:hover svg {

    transform: translate(-50%, -50%) scale(1.2);

    transform-origin: center;

}



.youtube-thumb.active svg {

    display: none;

}



.fancybox__container {

    z-index: 9999 !important;

    --fancybox-bg: rgba(24, 24, 27, 0.6) !important;

}



.fancybox-image {

    border-radius: 6px;

}





.news-detail-grid {

    grid-template-columns: 1fr 350px;

}



.blog-sidebar-widget {

    border: 1px solid var(--color-border);

}



.blog-sidebar-widget-title {

    border-bottom: 1px solid var(--color-border);

}



.blog-sidebar-widget+.blog-sidebar-widget {

    margin-top: 32px;

}



.blog-sidebar-thumb {

    width: 66px;

}



.blog-sidebar-new-post {

    top: 16px;

    transition: all 0.25s;

}



@media (min-width: 1200px) {}



@media (max-width: 1199.98px) {

    .news-detail-grid {

        grid-template-columns: 1fr 300px;

    }

}



@media (max-width: 991.98px) {

    .blog-sidebar-new-post {

        position: relative !important;

        top: 0 !important;

    }

}



.default-page-inner {

    max-width: 800px;

    width: 100%;

    margin: 0 auto;

}



.contact-map .ratio-thumb {

    padding-bottom: 38%;

}



.contact-map .ratio-thumb iframe {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    -o-object-fit: cover;

    object-fit: cover;

}



.contact-page-grid {

    grid-template-columns: 1fr 350px;

}



.social-icon .icon-box {

    width: 32px;

    height: 32px;

}



/* FIX WP */



.aligncenter {

    margin: 0 auto;

}





.breadcrumb>span {

    display: flex;

    flex-wrap: wrap;

    gap: 12px;

}



.breadcrumb>span>span>a {

    position: relative;

    display: flex;

    align-items: center;

    gap: 12px;

    color: var(--color-dark);

}



.breadcrumb>span>span>a:after {

    content: "";

    width: 20px;

    height: 20px;

    display: inline-block;

    background-image: url(../images/icons/chevrons-right.svg);

    background-size: contain;

    background-repeat: no-repeat;

    background-position: center center;

}



.breadcrumb>span>span>a:hover {

    color: var(--color-link);

}





/* FIX WPFORM */

.wpforms-confirmation-container-full {

    border-radius: 6px;

    margin: 0 auto !important;

}



.wpforms-container-full {

    margin-top: 0 !important;

    margin-bottom: 0 !important;

    width: 100% !important;

}



.wpforms-container-full>form {

    display: flex;

    flex-direction: column;

    gap: 16px;

}



.wpforms-container-full>form>.wpforms-field-container {

    display: flex;

    row-gap: 16px;

    flex-wrap: wrap;

}



.wpforms-container-full>form>.wpforms-submit-container {

    padding: 0 !important;

}



.wpforms-container-full>form>.wpforms-field-container>.wpforms-field {

    flex-basis: 100% !important;

    width: 100% !important;

    padding-top: 0 !important;

    padding-bottom: 0 !important;

}



.wpforms-container-full>form>.wpforms-field-container>.wpforms-field .wpforms-field-label {

    margin-bottom: 8px;

    font-size: 16px;

    font-weight: 500 !important;

}

.wpforms-container-full>form>.wpforms-field-container>.wpforms-field > .wpforms-field-row {
    max-width: 100% !important;
}

.wpforms-container-full>form>.wpforms-field-container>.wpforms-field input,

.wpforms-container-full>form>.wpforms-field-container>.wpforms-field select,

.wpforms-container-full>form>.wpforms-field-container>.wpforms-field textarea {

    width: 100% !important;

    max-width: 100% !important;

    font-size: 16px !important;

    line-height: 24px !important;

    padding: 8px 16px !important;

    border: 1px solid var(--color-border) !important;

    border-radius: 6px !important;

    transition: all 0.25s;

    min-height: 40px;

    text-overflow: ellipsis;

}



.wpforms-container-full .wpforms-form label.wpforms-error {

    padding-top: 6px;

    color: #dc3232;

}



.wpforms-container-full>form>.wpforms-field-container>.wpforms-field select {

    -webkit-appearance: none;

    -moz-appearance: none;

    appearance: none;

    background-repeat: no-repeat;

    background-position: center right 12px;

    background-color: #fff;

    background-image: url(../images/icons/angle-down.svg);

    background-size: 24px 24px;

    padding-right: 48px !important;

}



.wpforms-container-full>form>.wpforms-field-container>.wpforms-field textarea {

    resize: none;

}



.wpforms-container-full>form>.wpforms-submit-container>.wpforms-submit-spinner {

    display: none !important;

}



.wpforms-container-full>form>.wpforms-submit-container>button[type="submit"] {

    width: 100%;

    border-color: var(--color-primary-500) !important;

    background-color: var(--color-primary-500) !important;

    color: #fff !important;

    display: inline-flex;

    align-items: center;

    gap: 12px;

    padding: 7px 24px !important;

    min-height: 40px;

    font-size: 16px !important;

    line-height: 24px;

    font-weight: 500;

    border-radius: 6px;

    transition: all 0.25s;

    border-width: 1px !important;

    border-style: solid !important;

    cursor: pointer;

    text-align: center;

    justify-content: center;

}



.wpforms-container-full>form>.wpforms-submit-container>button[type="submit"]:hover,

.wpforms-container-full>form>.wpforms-submit-container>button[type="submit"]:focus {

    border-color: var(--color-primary-400) !important;

    background-color: var(--color-primary-400) !important;

    color: #fff !important;

}



.wpforms-container-full>form>.wpforms-submit-container {

    display: flex !important;

}



@media (min-width: 576px) {

    .wpforms-container-full>form>.wpforms-field-container>.wpforms-field.wpforms-one-half {

        flex-basis: 50% !important;

        width: 50% !important;

        padding-right: 12px !important;

    }



    .wpforms-container-full>form>.wpforms-field-container>.wpforms-field.wpforms-one-half+.wpforms-field.wpforms-one-half {

        padding-right: 0 !important;

        padding-left: 12px !important;

    }



    .contact-page-form.wpforms-container-full>form>.wpforms-submit-container {

        justify-content: flex-end;

    }



    .contact-page-form.wpforms-container-full>form>.wpforms-submit-container>button[type="submit"] {

        width: 50%;

    }

}



@media (min-width: 1200px) {

    .wpforms-container-full>form {

        gap: 24px;

    }





}



.wpform-title {

    text-align: center;

    font-weight: 500;

    font-size: var(--fs-lg) !important;

    line-height: var(--line-height-lg) !important;

}



.text-editor-content-detail form {

    border: 1px solid rgb(220 164 71 / 50%);

    padding: 24px;

    border-radius: 12px;

}


@media (max-width: 767.98px) {
    .wpform-title {
        text-align: center;
        font-weight: 500;
        font-size: var(--fs-base) !important;
        line-height: var(--line-height-base) !important;
    }
    .wpforms-container-full>form>.wpforms-field-container>.wpforms-field .wpforms-field-label {
        font-size: 14px;
    }

}




/* FIX FOOTER WPFORM */

.owl-footer-form>.wpforms-container-full>form {

    display: grid;

    grid-template-columns: 3fr 1fr;

    align-items: flex-start;

}



.owl-footer-form>.wpforms-container-full>form>.wpforms-field-container {

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;

    align-items: flex-start;

    gap: 16px;

}



.owl-footer-form>.wpforms-container-full>form>.wpforms-field-container>.wpforms-field .wpforms-field-label {

    margin-bottom: 8px;

    font-size: 14px;

}



.owl-footer-form>.wpforms-container-full>form>.wpforms-field-container>.wpforms-field input,

.owl-footer-form>.wpforms-container-full>form>.wpforms-field-container>.wpforms-field select,

.owl-footer-form>.wpforms-container-full>form>.wpforms-field-container>.wpforms-field textarea {

    padding: 12px 16px;

    min-height: 50px;

    border-color: #fff !important;

}



.owl-footer-form>.wpforms-container-full>form>.wpforms-submit-container {

    padding-top: 26.2px !important;

}



.owl-footer-form>.wpforms-container-full>form>.wpforms-submit-container>button[type="submit"] {

    border-color: var(--color-secondary-500) !important;

    background-color: var(--color-secondary-500) !important;

    color: #fff;

    padding: 12px 16px;

    min-height: 50px;

}



.owl-footer-form>.wpforms-container-full>form>.wpforms-submit-container>button[type="submit"]:hover,

.owl-footer-form>.wpforms-container-full>form>.wpforms-submit-container>button[type="submit"]:focus {

    border-color: var(--color-secondary-400) !important;

    background-color: var(--color-secondary-400) !important;

    color: #fff;

}



@media (max-width: 991.98px) {

    .owl-footer-form>.wpforms-container-full>form {

        grid-template-columns: 1fr;

    }



    .owl-footer-form>.wpforms-container-full>form>.wpforms-submit-container {

        padding-top: 0 !important;

    }



}



@media (max-width: 767.98px) {

    .owl-footer-form>.wpforms-container-full>form>.wpforms-field-container {

        grid-template-columns: 1fr;

    }



}



/* FIX MODAL SIZE */

body .pum-overlay .pum-container.size-nano {

    max-width: 300px !important;

}



body .pum-overlay .pum-container.size-micro {

    max-width: 350px !important;

}



body .pum-overlay .pum-container.size-tiny {

    max-width: 400px !important;

}



body .pum-overlay .pum-container.size-small {

    max-width: 450px !important;

}



body .pum-overlay .pum-container.size-medium {

    max-width: 500px !important;

}



body .pum-overlay .pum-container.size-normal {

    max-width: 600px !important;

}



body .pum-overlay .pum-container.size-large {

    max-width: 750px !important;

}



body .pum-overlay .pum-container.size-xlarge {

    max-width: 1024px !important;

}



/* FIX POST DETAIL */



.text-editor-content-detail {

    line-height: 1.6;



}



.text-editor-content-detail blockquote,

.text-editor-content-detail dl,

.text-editor-content-detail figure,

.text-editor-content-detail form,

.text-editor-content-detail ol,

.text-editor-content-detail p,

.text-editor-content-detail pre,

.text-editor-content-detail ul {

    margin-bottom: 20px;



}



.text-editor-content-detail ol li,

.text-editor-content-detail ul li {

    margin-bottom: 0.6em;

}



.text-editor-content-detail ol li,

.text-editor-content-detail ul li {

    margin-left: 1.3em;

}



.text-editor-content-detail h1,

.text-editor-content-detail h2,

.text-editor-content-detail h3,

.text-editor-content-detail h4,

.text-editor-content-detail h5,

.text-editor-content-detail h6 {

    margin-bottom: 0.5em;

}



.text-editor-content-detail p {

    word-break: break-word;

}



.text-editor-content-detail img {

    border-radius: 6px;

    max-width: 100%;

    height: auto;

}



.text-editor-content-detail iframe[src*="youtube.com"] {

    width: 100% !important;

    height: auto !important;

    aspect-ratio: 16 / 9;

    border-radius: 6px;

    overflow: hidden;

}



.text-editor-content-detail iframe {

    width: 100% !important;

}



.text-editor-content-detail .wp-caption {

    max-width: 100%;

}



.text-editor-content-detail .wp-caption .wp-caption-text {

    padding: 0.4em;

    font-size: .9em;

    display: block;

}



.text-editor-content-detail .wp-caption-text {

    text-align: center;

}





.vh_shortcode h3 {

    margin-bottom: 0 !important;

}



.vh_shortcode p {

    margin-bottom: 0 !important;

}



.vh_shortcode img {

    border-radius: 0 !important;

    height: 100% !important;

}



.text-editor-content-detail {

    font-size: 16px;

}



article {

    max-width: 100%;

    overflow: hidden;

    min-width: 1px;

    display: block;

    position: relative;

}





/* NAVIGATION */

.pagination .page-numbers.current {

    background-color: var(--color-gray);

}



.pagination .page-numbers {

    min-width: 32px;

    min-height: 32px;

    color: var(--color-dark);

    font-size: var(--fs-base);

    line-height: var(--line-height-base);

    border-radius: var(--rounded-6);

    padding-left: 8px;

    padding-right: 8px;

    padding-top: 4px;

    padding-bottom: 4px;

    align-items: center;

    justify-content: center;

    display: flex !important;

}



.pagination .page-numbers:hover {

    background-color: var(--color-gray);

    color: var(--color-dark);

}







.news-comments #comments {

    width: 100% !important;

    max-width: 100% !important;

    margin: 0 !important;

}



textarea {

    font-family: "Inter", "Segoe UI", Arial, Segoe, "DejaVu Sans", "Trebuchet MS",

        Verdana, sans-serif;

}







.header-search-result-inner {

    max-height: calc(75vh - 250px);

    overflow: auto;

}



.svg-normal {

    display: flex;

}



.svg-loader {

    display: flex;

    position: relative;

    align-content: space-around;

    justify-content: center;

}



.loader-svg {

    position: absolute;

    left: 0;

    right: 0;

    top: 0;

    bottom: 0;

    fill: none;

    stroke-width: 5px;

    stroke-linecap: round;

    stroke: var(--color-dark);

}



.loader-svg.bg {

    stroke-width: 8px;

    stroke: rgb(207, 205, 245);

}



.animate {

    stroke-dasharray: 242.6;

    -webkit-animation: fill-animation 0.5s cubic-bezier(1, 1, 1, 1) 0s infinite;

    animation: fill-animation 0.5s cubic-bezier(1, 1, 1, 1) 0s infinite;

}



@-webkit-keyframes fill-animation {

    0% {

        stroke-dasharray: 40 242.6;

        stroke-dashoffset: 0;

    }



    50% {

        stroke-dasharray: 141.3;

        stroke-dashoffset: 141.3;

    }



    100% {

        stroke-dasharray: 40 242.6;

        stroke-dashoffset: 282.6;

    }

}



@keyframes fill-animation {

    0% {

        stroke-dasharray: 40 242.6;

        stroke-dashoffset: 0;

    }



    50% {

        stroke-dasharray: 141.3;

        stroke-dashoffset: 141.3;

    }



    100% {

        stroke-dasharray: 40 242.6;

        stroke-dashoffset: 282.6;

    }

}



.header-search-desktop-btn .svg-loader {

    display: none;

}



.header-search-desktop-btn .svg-normal {

    display: flex;

}



.header-search-desktop-form.is-loading .header-search-desktop-btn .svg-loader {

    display: flex;

}



.header-search-desktop-form.is-loading .header-search-desktop-btn .svg-normal {

    display: none;

}



.line-red::before {

    content: '';

    position: absolute;

    width: 5px;

    left: 2.5px;

    top: 5px;

    bottom: 0px;

    transform: skew(-20deg);

    background-color: #dd3333;

    height: 20px;

}



@media (min-width: 992px) {

    .line-red::before {

        left: 3.5px;

        top: 6.5px;

        height: 22px;

    }

}







.featured-label {

    top: 12px;

    left: 12px;

    background: linear-gradient(117deg, rgb(192 101 222 / 75%) 0%, #5D28FE 100%);

}





@media (min-width: 768px) {

    .md\:row-start-1 {

        grid-row-start: 1;

    }



    .md\:row-end-3 {

        grid-row-end: 3;

    }

}







/* SLICK */

.slick-dots {

    margin: 0;

    padding-top: 24px;

    list-style: none;

    display: flex !important;

    justify-content: center;

    gap: 12px;

    align-items: center;

}



.testimonial-items .slick-dots {

    padding-right: 32px;

}



.slick-dots li {

    display: inline-block;

}



.slick-dots li button {

    width: 8px;

    height: 8px;

    border: 0;

    border-radius: 9999px;

    background: var(--color-dividers);

    text-indent: -9999px;

    overflow: hidden;

    transition: all .25s;

    cursor: pointer;

}



.slick-dots li.slick-active button,

.slick-dots li button:hover {

    background: var(--color-disabled);

}



.cust-nav-item {

    border: 0;

    cursor: pointer;

    width: 48px;

    height: 48px;

    background-color: rgba(0, 0, 0, .2);

    display: flex;

    align-items: center;

    justify-content: center;

    border-radius: 9999px;

    overflow: hidden !important;

    transition: all .25s;

}



.cust-nav-item:hover {

    background-color: rgba(0, 0, 0, .35);

}



.cust-nav-item svg {

    width: 32px;

    height: 32px;

}



.cust-nav-tall .cust-nav-item {

    width: 48px;

    height: 72px;

}



.cust-nav-tall .cust-nav-item {

    border-radius: 6px;

}



.cust-nav-tall .cust-nav-item.cust-nav-prev {

    border-top-left-radius: 0;

    border-bottom-left-radius: 0;

}



.cust-nav-tall .cust-nav-item.cust-nav-next {

    border-top-right-radius: 0;

    border-bottom-right-radius: 0;

}





.cust-nav-small .cust-nav-item {

    width: 32px;

    height: 32px;

}



.cust-nav-small .cust-nav-item svg {

    width: 24px;

    height: 24px;

}



@media (max-width: 767.98px) {

    .cust-nav-item {

        width: 36px;

        height: 36px;

    }



    .cust-nav-tall .cust-nav-item {

        width: 36px;

        height: 64px;

    }



    .cust-nav-item svg {

        width: 24px;

        height: 24px;

    }



    .cust-nav-small .cust-nav-item {

        width: 28px;

        height: 28px;

    }



    .cust-nav-small .cust-nav-item svg {

        width: 18px;

        height: 18px;

    }

}







.projects-slider .slick-dots li button {

    background: var(--color-secondary-500);

    opacity: .25;

    width: 8px;

    height: 8px;

}



.projects-slider .slick-dots li.slick-active button,

.projects-slider .slick-dots li button:hover {

    background: var(--color-secondary-500);

    opacity: .65;

}



.projects-slider .slick-list {

    overflow: visible !important;

}



.video-item-box,

.project-item-box {

    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.075);

}



.projects-slider {

    margin: 0 -8px;

}



.projects-slider .project-item-box {

    margin: 0 8px;

}



.projects-slider .project-item-box:not(.slick-active) {

    opacity: .5;

}



.projects-slider-outer {

    position: relative;

}



.projects-slider-outer .cust-nav-prev {

    left: 24px;

}



.projects-slider-outer .cust-nav-next {

    right: 24px;

}



.projects-slider-outer .cust-nav-item {

    position: absolute;

    top: 50%;

    z-index: 20;

    transform: translateY(-50%);

    margin-top: -40px;

    background-color: rgba(0, 0, 0, .5);

}



.projects-slider-outer .cust-nav-item:hover,

.projects-slider-outer .cust-nav-item:focus {

    background-color: rgba(0, 0, 0, .75);

}



.projects-slider-outer .cust-nav {

    width: 100%;

}





.product-card-box {

    transition: all .25s;

}



.product-card-box:hover {

    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);

}





@media (max-width: 767.98px) {



    .home-top-featured,

    .home-top-blog>.grid:not(:last-child) {

        border-bottom: 1px solid var(--color-dividers);

        padding-bottom: 24px;

        margin-bottom: 24px;

    }

}



.video-item-box .ratio-thumb {

    position: relative;

}



.icon-video-play {

    position: absolute;

    top: 50%;

    left: 50%;

    --video-play-size: 64px;

    width: var(--video-play-size);

    height: var(--video-play-size);

    background-image: url(../images/icons/icon-feather-play.svg);

    background-repeat: no-repeat;

    background-position: center left 24px;

    background-size: contain;

    transform-origin: center;

    z-index: 3;

    pointer-events: none;

    transition: all 0.25s;

    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,.2);
    border-radius: 9999px;
    background-size: 24px;

}


.video-item-box:hover .icon-video-play {

    background-color: rgba(0,0,0,.5);
}



.product-card-box .badge {

    top: 10px;

    left: 10px;

}



.item-bottom-line:not(:first-child) {

    padding-top: 24px;

}



.item-bottom-line:not(:last-child) {

    padding-bottom: 24px;

    border-bottom: 1px solid #ebebeb;

}





.landing-card-item {

    border: 1px solid rgb(220 164 71 / 50%);

    background-color: #fefefc;

    padding: 12px;

    border-radius: 12px;

}





@media (min-width: 576px) and (max-width: 991.98px) {

    .home .home-landing-card-items .landing-card-item:nth-child(n+3) {

        display: none !important;

    }

}









@media (max-width: 575.98px) {

    .footer-cta-btns-area>.container {

        padding: 0;

    }



    .footer-cta-btns {

        border-radius: 0;

    }

}



















.list-project-logo {

    width: auto !important;

    max-width: 72px;

    height: 36px;

    -o-object-fit: contain;

    object-fit: contain;

}





.bg-gradient-secondary-top {

    background: linear-gradient(180deg, #FBF6EC 0%, rgba(251, 246, 236, 0.00) 100%);

}



.dot-line-bg {

    height: 9px;

    width: 100%;

    background-image: url('../images/dot-line-bg.png');

    background-repeat: repeat-x;

    background-size: contain;

}



.filter-group-item {

    background-color: var(--color-border-light);

    padding: 1px;

    transition: all 0.25s;

}



.filter-group-item.active,

.filter-group-item:hover {

    background-image: linear-gradient(to right, #FDC7AF, #FCB69F);

}



.filter-group-item-img {

    width: 80px;

    height: 40px;

    -o-object-fit: contain;

    object-fit: contain;

    -o-object-position: center;

    object-position: center;

}



@media (max-width: 575.98px) {

    .filter-group-item-img {

        width: 64px;

        height: 32px;

    }

}



.flag-filter-group-items .filter-group-item-img {

    width: 40px;

    height: 40px;

}



@media (max-width: 575.98px) {

    .flag-filter-group-items .filter-group-item-img {

        width: 32px;

        height: 32px;

    }

}







.filter-group-slider .filter-group-items {

    margin: 0 -6px;

}



.filter-group-slider .filter-group-items .filter-group-item {

    margin: 0 6px;

}



.filter-group-slider .slick-dots {

    padding-top: 16px;

}



.sidebar-area {

    width: 300px;

}







.article-tags>a:not(:last-child)::after,

.article-categories>a:not(:last-child)::after {

    content: ",";

    margin-right: 4px;

}



.article-tags {

    font-size: 13px;

    line-height: 1.4;

}



.video-player {

    background-color: #181C1F;

}



.product-detail-top .badge {

    font-size: 15px;

}



@media (max-width: 767.98px) {

    .video-player .container {

        max-width: 100%;

        padding: 0;

    }



    .video-player .ratio-thumb {

        border-radius: 0 !important;

    }

}



.google-map-iframe iframe {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    -o-object-fit: cover;

    object-fit: cover;

    -o-object-position: center;

    object-position: center;

    border: 0;

}



.supporter-item {

    width: 62px;

    height: 62px;

}



.supporter-item:nth-child(1) {

    z-index: 1;

}



.supporter-item:nth-child(2) {

    z-index: 2;

}



.supporter-item:nth-child(3) {

    z-index: 3;

}



.supporter-item+.supporter-item {

    margin-left: -12px;

}



@media (max-width: 767.98px) {

    .supporter-item {

        width: 44px;

        height: 44px;

    }

}



.detail-product-price {

    font-size: 22px;

}



.product-detail-sidebar-btn {

    padding-left: 12px;

    padding-right: 12px;

    font-size: 15px;

}



@media (min-width: 992px) {

    .project-sidebar-area {

        position: -webkit-sticky;

        position: sticky;

        top: 170px;

    }



    .product-sidebar-area,

    .video-sidebar-area,

    .article-sidebar-area {

        position: -webkit-sticky;

        position: sticky;

        top: 100px;

    }



}



@media (max-width: 991.98px) {



    .project-sidebar-area,

    .product-sidebar-area,

    .video-sidebar-area,

    .article-sidebar-area {

        width: 100%;

    }



}



.product-gallery-item-thumb {

    width: 100%;

}



.product-gallery-item-thumb img {

    width: 100%;

    height: 100%;

    -o-object-fit: cover;

    object-fit: cover;

    -o-object-position: center;

    object-position: center;

}



.product-gallery-count {

    bottom: 12px;

    right: 12px;

    background-color: rgba(0, 0, 0, .5);

    z-index: 2;

    padding: 6px 8px;

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 4px;

    pointer-events: none;

}



.product-gallery-items {

    row-gap: 12px;

    -moz-column-gap: 12px;

    column-gap: 12px;

}







.product-gallery-items.grid-cols-3 .product-gallery-item:nth-child(1) {

    grid-column-start: 1;

    grid-column-end: 3;

    grid-row-start: 1;

    grid-row-end: 3;

}



.product-gallery-items.grid-cols-3 .product-gallery-item:nth-child(n+4) {

    display: none;

}



.product-gallery-items.grid-cols-4 .product-gallery-item:nth-child(1) {

    grid-column-start: 1;

    grid-column-end: 3;

    grid-row-start: 1;

    grid-row-end: 3;

}



.product-gallery-items.grid-cols-4 .product-gallery-item:nth-child(n+6) {

    display: none;

}



.product-gallery-item-thumb-lg {

    height: 384px;

}



.product-gallery-item-thumb-sm {

    height: 186px;

}



@media (max-width: 991.98px) {

    .product-gallery-item-thumb-lg {

        height: 291px;

    }



    .product-gallery-item-thumb-sm {

        height: 139.5px;

    }



}



@media (max-width: 767.98px) {

    .product-gallery-item-thumb-lg {

        height: 260px;

    }



    .product-gallery-item-thumb-sm {

        height: 124px;

    }



    .product-gallery-items.grid-cols-4 {

        grid-template-columns: 1fr 1fr 1fr;

    }



    .product-gallery-items.grid-cols-4 .product-gallery-item:nth-child(1) {

        grid-column-start: 1;

        grid-column-end: 3;

        grid-row-start: 1;

        grid-row-end: 3;

    }



    .product-gallery-items.grid-cols-4 .product-gallery-item:nth-child(n+4) {

        display: none;

    }

}



.page-no-sidebar {

    max-width: 700px;

    display: block;

    margin: 0 auto;

}



.project-page-header::after {

    content: "";

    position: absolute;

    bottom: 0;

    left: 0;

    z-index: 20;

    display: block;

    width: 100%;

    height: 100%;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.35));



}



.project-page-header-img {

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    -o-object-fit: cover;

    object-fit: cover;

    -o-object-position: center top;

    object-position: center top;

}



.project-page-filter-inner {

    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.075);

}



.detail-project-logo {

    width: 80px;

    height: 40px;

    -o-object-fit: contain;

    object-fit: contain;

    -o-object-position: left center;

    object-position: left center;

}



.project-detail-nav-items {

    overflow-y: hidden;

    overflow-x: auto;

}



.project-detail-nav-item {

    border-bottom: 2px solid transparent;

    background: transparent;

    color: var(--color-dark);



}



.project-detail-nav-item:hover,

.project-detail-nav-item:focus {

    color: var(--color-dark-secondary);

}



.project-detail-nav-item.active {

    border-bottom: 2px solid var(--color-secondary-500);

    color: var(--color-secondary-500);

}



#project-detail-nav {

    border-bottom: 1px solid var(--color-dividers);

    position: -webkit-sticky;

    position: sticky;

    top: 68px;

    background: #fff;

    z-index: 50;

}



#project-detail-nav.is-sticky {

    border-color: transparent;

    box-shadow: 0px 4px 10px rgba(182, 182, 182, 0.18);

}



@media (min-width: 992px) {

    .project-detail-nav-item {

        flex: 1;

    }

}



.config-dot {

    font-size: 14px;

    font-weight: normal;

    color: #999;

    line-height: 1;

}



.filter-group-item {

    position: relative;

}



.filter-group-item input {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    z-index: 2;

    opacity: 0;

    cursor: pointer;

}



.kk-star-ratings .kksr-legend {

    margin-right: 0;

    font-size: 16px !important;

}



.row {

    --bs-gutter-x: 12px;

    display: flex;

    flex-wrap: wrap;

    margin-right: calc(-1 * var(--bs-gutter-x));

    margin-left: calc(-1 * var(--bs-gutter-x));

    row-gap: 24px;

}



.row>*,

.col {

    flex-shrink: 0;

    width: 100%;

    max-width: 100%;

    padding-right: var(--bs-gutter-x);

    padding-left: var(--bs-gutter-x);

}







.col-1 {

    flex: 0 0 auto;

    width: 8.33333333%;

}



.col-2 {

    flex: 0 0 auto;

    width: 16.66666667%;

}



.col-3 {

    flex: 0 0 auto;

    width: 25%;

}



.col-4 {

    flex: 0 0 auto;

    width: 33.33333333%;

}



.col-5 {

    flex: 0 0 auto;

    width: 41.66666667%;

}



.col-6 {

    flex: 0 0 auto;

    width: 50%;

}



.col-7 {

    flex: 0 0 auto;

    width: 58.33333333%;

}



.col-8 {

    flex: 0 0 auto;

    width: 66.66666667%;

}



.col-9 {

    flex: 0 0 auto;

    width: 75%;

}



.col-10 {

    flex: 0 0 auto;

    width: 83.33333333%;

}



.col-11 {

    flex: 0 0 auto;

    width: 91.66666667%;

}



.col-12 {

    flex: 0 0 auto;

    width: 100%;

}



@media (min-width: 576px) {

    .sm\:col-1 {

        flex: 0 0 auto;

        width: 8.33333333%;

    }



    .sm\:col-2 {

        flex: 0 0 auto;

        width: 16.66666667%;

    }



    .sm\:col-3 {

        flex: 0 0 auto;

        width: 25%;

    }



    .sm\:col-4 {

        flex: 0 0 auto;

        width: 33.33333333%;

    }



    .sm\:col-5 {

        flex: 0 0 auto;

        width: 41.66666667%;

    }



    .sm\:col-6 {

        flex: 0 0 auto;

        width: 50%;

    }



    .sm\:col-7 {

        flex: 0 0 auto;

        width: 58.33333333%;

    }



    .sm\:col-8 {

        flex: 0 0 auto;

        width: 66.66666667%;

    }



    .sm\:col-9 {

        flex: 0 0 auto;

        width: 75%;

    }



    .sm\:col-10 {

        flex: 0 0 auto;

        width: 83.33333333%;

    }



    .sm\:col-11 {

        flex: 0 0 auto;

        width: 91.66666667%;

    }



    .sm\:col-12 {

        flex: 0 0 auto;

        width: 100%;

    }



}



@media (min-width: 768px) {

    .md\:col-1 {

        flex: 0 0 auto;

        width: 8.33333333%;

    }



    .md\:col-2 {

        flex: 0 0 auto;

        width: 16.66666667%;

    }



    .md\:col-3 {

        flex: 0 0 auto;

        width: 25%;

    }



    .md\:col-4 {

        flex: 0 0 auto;

        width: 33.33333333%;

    }



    .md\:col-5 {

        flex: 0 0 auto;

        width: 41.66666667%;

    }



    .md\:col-6 {

        flex: 0 0 auto;

        width: 50%;

    }



    .md\:col-7 {

        flex: 0 0 auto;

        width: 58.33333333%;

    }



    .md\:col-8 {

        flex: 0 0 auto;

        width: 66.66666667%;

    }



    .md\:col-9 {

        flex: 0 0 auto;

        width: 75%;

    }



    .md\:col-10 {

        flex: 0 0 auto;

        width: 83.33333333%;

    }



    .md\:col-11 {

        flex: 0 0 auto;

        width: 91.66666667%;

    }



    .md\:col-12 {

        flex: 0 0 auto;

        width: 100%;

    }

}



@media (min-width: 992px) {

    .lg\:col-1 {

        flex: 0 0 auto;

        width: 8.33333333%;

    }



    .lg\:col-2 {

        flex: 0 0 auto;

        width: 16.66666667%;

    }



    .lg\:col-3 {

        flex: 0 0 auto;

        width: 25%;

    }



    .lg\:col-4 {

        flex: 0 0 auto;

        width: 33.33333333%;

    }



    .lg\:col-5 {

        flex: 0 0 auto;

        width: 41.66666667%;

    }



    .lg\:col-6 {

        flex: 0 0 auto;

        width: 50%;

    }



    .lg\:col-7 {

        flex: 0 0 auto;

        width: 58.33333333%;

    }



    .lg\:col-8 {

        flex: 0 0 auto;

        width: 66.66666667%;

    }



    .lg\:col-9 {

        flex: 0 0 auto;

        width: 75%;

    }



    .lg\:col-10 {

        flex: 0 0 auto;

        width: 83.33333333%;

    }



    .lg\:col-11 {

        flex: 0 0 auto;

        width: 91.66666667%;

    }



    .lg\:col-12 {

        flex: 0 0 auto;

        width: 100%;

    }

}



@media (min-width: 1200px) {

    .xl\:col-1 {

        flex: 0 0 auto;

        width: 8.33333333%;

    }



    .xl\:col-2 {

        flex: 0 0 auto;

        width: 16.66666667%;

    }



    .xl\:col-3 {

        flex: 0 0 auto;

        width: 25%;

    }



    .xl\:col-4 {

        flex: 0 0 auto;

        width: 33.33333333%;

    }



    .xl\:col-5 {

        flex: 0 0 auto;

        width: 41.66666667%;

    }



    .xl\:col-6 {

        flex: 0 0 auto;

        width: 50%;

    }



    .xl\:col-7 {

        flex: 0 0 auto;

        width: 58.33333333%;

    }



    .xl\:col-8 {

        flex: 0 0 auto;

        width: 66.66666667%;

    }



    .xl\:col-9 {

        flex: 0 0 auto;

        width: 75%;

    }



    .xl\:col-10 {

        flex: 0 0 auto;

        width: 83.33333333%;

    }



    .xl\:col-11 {

        flex: 0 0 auto;

        width: 91.66666667%;

    }



    .xl\:col-12 {

        flex: 0 0 auto;

        width: 100%;

    }

}





/* FIX ADMIN BAR */

html .admin-bar header {

    top: 32px;

}



html .admin-bar #project-detail-nav {

    top: 100px;

}



@media (min-width: 992px) {

    html .admin-bar .project-sidebar-area {

        position: -webkit-sticky;

        position: sticky;

        top: 202px;

    }



    html .admin-bar .product-sidebar-area,

    html .admin-bar .video-sidebar-area,

    html .admin-bar .article-sidebar-area {

        position: -webkit-sticky;

        position: sticky;

        top: 132px;

    }



}



@media screen and (max-width: 1199.98px) {

    html .admin-bar .horizontal-menu {

        padding-top: 32px;

    }

}



@media screen and (max-width: 782px) {

    html .admin-bar header {

        top: 46px;

    }



    html .admin-bar #project-detail-nav {

        top: 114px;

    }



    html .admin-bar .horizontal-menu {

        padding-top: 46px;

    }

}



@media screen and (max-width: 600px) {

    #wpadminbar {

        position: absolute;

    }



    html {

        margin-top: 0px !important;

    }



    html .admin-bar {

        padding-top: 45px !important;

    }



    html .admin-bar header {

        top: 0;

    }



    html .admin-bar #project-detail-nav {

        top: 68px;

    }

}







.text-editor-content-detail .video>p {

    margin: 0;

}



.text-editor-content-detail .video iframe {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    -o-object-fit: cover;

    object-fit: cover;

    -o-object-position: center;

    object-position: center;

}



.text-editor-content-detail .video {

    position: relative;

    overflow: hidden;

    margin-bottom: 20px;

    width: 100%;

}





/* TABLE */

.table-responsive {

    display: block;

    position: relative;

    max-width: 100%;

    max-height: calc(100vh - 250px);

    overflow: auto;

    margin-bottom: 16px;

}



.custom-scrollbar::-webkit-scrollbar {

    -webkit-appearance: none;

}



.custom-scrollbar::-webkit-scrollbar:vertical {

    width: 5px;

}



.custom-scrollbar::-webkit-scrollbar:horizontal {

    height: 5px;

}



.custom-scrollbar::-webkit-scrollbar-thumb {

    background-color: rgba(0, 0, 0, 0.1);

    border-radius: 10px;

    border: 0px solid #ffffff;

}



.custom-scrollbar::-webkit-scrollbar-track {

    border-radius: 10px;

    background-color: #eee;

}



.table-responsive>table {

    width: auto !important;

    min-width: 100% !important;

    max-width: 100% !important;

    table-layout: fixed !important;

    height: auto !important;

    border-spacing: 0;

}



.table-responsive>table tbody tr td,

.table-responsive>table thead tr th {

    width: auto !important;

    height: auto !important;

    padding: 6px 12px !important;

    text-align: left;

}



.table-responsive>table,

.table-responsive>table tr,

.table-responsive>table th,

.table-responsive>table td,

.table-responsive>table th {

    border-color: var(--color-border-light) !important;

}



.table-responsive>table td,

.table-responsive>table th {

    border-bottom: 1px solid var(--color-border-light) !important;

}



@media(max-width: 767px) {

    .table-responsive>table tbody td * {

        inline-size: -webkit-max-content;

        inline-size: -moz-max-content;

        inline-size: max-content;

        max-width: 35vw;

    }

}



.table-responsive>table>colgroup {

    display: none !important;

}







.ddqt-header {

    position: relative;

}



.ddqt-header-title {

    position: relative;

    z-index: 3;

    padding: 72px 0;

}



.ddqt-thumb {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    -o-object-fit: cover;

    object-fit: cover;

    -o-object-position: center;

    object-position: center;

}



.ddqt-header-title h1 {

    color: #fff;

    text-align: center;

    line-height: 1.4;

}





.ddqt-header:after {

    content: "";

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: #000;

    z-index: 2;

    opacity: .35;

}



.breadcrumb-outer>span {

    display: flex;

    flex-wrap: wrap;

    gap: 6px;

}



.breadcrumb-outer>span>span>a {

    position: relative;

    display: flex;

    align-items: center;

    gap: 6px;

    color: var(--color-title);

}



.breadcrumb-outer>span>span>a:after {

    content: "";

    width: 16px;

    height: 16px;

    display: inline-block;

    background-image: url(../images/icons/chevrons-right.svg);

    background-size: contain;

    background-repeat: no-repeat;

    background-position: center center;

}



.breadcrumb-outer>span>span>a:hover {

    color: var(--color-link);

}





form legend {

    margin-bottom: 16px;

}





.fixed-btns {

    position: fixed;

    bottom: 35%;

    right: 0;

    z-index: 9000;

}



.fixed-btns .owl-download-cta {

    height: 40px;

    transform: rotate(270deg) translateY(-100%);

    transform-origin: top right;

    background-color: #dd3333;

    border-top-left-radius: 6px;

    border-top-right-radius: 6px;

    z-index: 9000;

    transition: all .25s;

    display: flex;

    justify-content: center;

    align-items: center;

    font-weight: bold;

    padding: 0 16px 0 16px;

    gap: 6px;

}



.fixed-btns .owl-download-cta:hover {

    background-color: #E14A4A;

}



.fixed-btn-icon {

    display: flex;

    align-items: center;

    justify-content: center;

    transform: rotate(90deg);

    transform-origin: center;

}



.fixed-btn-icon svg {

    width: 16px;

    height: 16px;

}



.fixed-btn-icon svg path {

    fill: #fff;

}



.fixed-btn-text {

    text-align: center;

    color: #fff;

    font-size: 14px;

    font-weight: normal;

}



.cd-top.cd-is-visible {

    opacity: 1;

    visibility: visible;

}



.cd-top {

    opacity: 0;

    visibility: hidden;

    transition: all .25s;

    position: absolute;

    top: 0;

    right: 0;

    width: 40px;

    height: 40px;

    margin-top: -42px;

    display: flex;

    align-items: center;

    justify-content: center;

    background-color: #dd3333;

    border-top-left-radius: 6px;

    border-bottom-left-radius: 6px;

}



.cd-top:hover {

    background-color: #E14A4A;

}



.cd-top svg {

    width: 24px;

    height: 24px;

    transform: rotate(180deg);

}



.cd-top svg path {

    stroke: #fff;

}





.owl-flatsome-post {

    display: flex;

    flex-direction: column;

    gap: 24px;

}



.owl-flatsome-post h3 {

    margin-bottom: 0 !important;

}



/* TẢI BẢNG GIÁ */

.owl-hide-form {

    display: none;

}



.download-price-des {

    font-size: 15px;

}



.download-price-pdf-items {

    display: flex;

    flex-direction: column;

    gap: 8px;

}



.download-price-pdf-item {

    display: flex;

    align-items: center;

    gap: 8px;

    padding: 14px;

    background-color: var(--color-secondary-20);

    border-radius: var(--rounded-8);

    transition: all .25s;

}



.download-price-pdf-item-name {

    font-weight: 500;

    flex: 1;

    min-width: 1px;

}

@media (max-width: 767.98px) {

    .download-price-pdf-item {

        padding: 8px;

    }
    .download-price-pdf-item svg {
        width: 24px;
        height: 24px;
    }
    .download-price-des{
        display: none;
    }

}

.homepage-heading{
    display: none;
}