:root {
  --default-space: 24px;


  /* colors */
  --background-main: #f0fafa;
  --color-main-400: #50c7c4;
  --color-main: #3cbcb9;
  --color-main-600: #38b0ae;
  --line-stroke: #eaeced;
  --stroke: #e1e1e1;
  --text-color-detail: #2c3743;
  --text-detail: #677185;
  --text-lv4: #808080;
  --text-lv3: #4D4D4D;
  --text-input: #8992a6;
  --white: #ffffff;
  --white-80: rgba(255, 255, 255, 0.8);
  --color-font: #289ea2;
  --color-font-main: #0c141d;
  --bg-gray: #f6f6f6;
  --bg-footer: #175052;
  --secondary: #E6A91D;
  --rating: #FCBB13;
  --pagination: #3D556D;
  --image-placeholder: #D9D9D9;
  --blue: #2F80ED;
  --red: #EB5757

  /* BASE COLOR */;
  --color-border: var(--stroke);
  --color-disabled: #00000040;
  --color-link: var(--blue);
  --color-text: var(--color-font-main); 
  --color-primary-400: var(--color-main-400);
  --color-primary: var(--color-main);
  --color-primary-600: var(--color-main-600);
  
  --color-form-label: var(--color-font-main);
  --color-form-caption: var(--text-detail);
  --color-form-placeholder: var(--text-input);
  --color-form-input: var(--color-font-main);
  --color-form-border: var(--stroke);
  --color-form-success: #219653;
  --color-form-error: #EB5757;

  --box-shadow: 0px 2px 40px 10px rgba(17, 17, 17, 0.08);

  --menu-height: 92px;
}
@media (max-width: 1199.98px) {
  :root{
    --menu-height: 64px;
  }
}
/* Fonts */
@font-face {
  font-family: "Be Vietnam Pro", sans-serif;;
  src: url(../fonts/BeVietnamPro-Light.ttf);
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Be Vietnam Pro", sans-serif;;
  src: url(../fonts/BeVietnamPro-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Be Vietnam Pro", sans-serif;;
  src: url(../fonts/BeVietnamPro-Medium.ttf);
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Be Vietnam Pro", sans-serif;;
  src: url(../fonts/BeVietnamPro-SemiBold.ttf);
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Be Vietnam Pro", sans-serif;;
  src: url(../fonts/BeVietnamPro-Bold.ttf);
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans", sans-serif;;
  src: url(../fonts/WorkSans-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans", sans-serif;;
  src: url(../fonts/WorkSans-Medium.ttf);
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans", sans-serif;;
  src: url(../fonts/WorkSans-SemiBold.ttf);
  font-weight: 600;
  font-display: swap;
}



/* Defautl  */
body {
  font-family: "Be Vietnam Pro", "Segoe UI", Arial, Segoe, "DejaVu Sans", "Trebuchet MS",
    Verdana, sans-serif;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--color-font-main);
  background-color: var(--white);
  position: relative;
}
textarea{
  font-family: "Be Vietnam Pro", "Segoe UI", Arial, Segoe, "DejaVu Sans", "Trebuchet MS",
  Verdana, sans-serif;
  font-size: 14px;
  line-height: calc(20 / 14);
}

/* Font family */
.font-be {
  font-family: "Be Vietnam Pro", sans-serif;;
}
.font-work-sans {
  font-family: "Work Sans", sans-serif;;
}

/* RADIUS */
.rounded-none {
  border-radius: 0px !important;
}
.rounded-2 {
  border-radius: 2px !important;
}
.rounded-4 {
  border-radius: 4px !important;
}
.rounded,
.rounded-6 {
  border-radius: 6px !important;
}
.rounded-8 {
  border-radius: 8px !important;
}
.rounded-12 {
  border-radius: 12px !important;
}
.rounded-16 {
  border-radius: 16px !important;
}
.rounded-20 {
  border-radius: 20px !important;
}
.rounded-24 {
  border-radius: 24px !important;
}
.rounded-full {
  border-radius: 9999px !important;
}


/* Font size */

.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-28 {
  font-size: 28px;
}

.fs-32 {
  font-size: 32px;
}

.fs-40 {
  font-size: 40px;
}
.fs-48 {
  font-size: 48px;
}
.fs-64 {
  font-size: 64px;
}

@media (min-width: 576px) {
  .sm\:fs-12 {
      font-size: 12px;
  }
  .sm\:fs-13 {
      font-size: 13px;
  }
  
  .sm\:fs-14 {
      font-size: 14px;
  }
  .sm\:fs-15 {
      font-size: 15px;
  }
  
  .sm\:fs-16 {
      font-size: 16px;
  }
  
  .sm\:fs-18 {
      font-size: 18px;
  }
  
  .sm\:fs-20 {
      font-size: 20px;
  }
  
  .sm\:fs-24 {
      font-size: 24px;
  }
  
  .sm\:fs-28 {
      font-size: 28px;
  }
  
  .sm\:fs-32 {
      font-size: 32px;
  }
  
  .sm\:fs-40 {
      font-size: 40px;
  }
  .sm\:fs-48 {
      font-size: 48px;
  }
  .sm\:fs-64 {
      font-size: 64px;
  }
}

@media (min-width: 768px) {
  .md\:fs-12 {
      font-size: 12px;
  }
  .md\:fs-13 {
      font-size: 13px;
  }
  
  .md\:fs-14 {
      font-size: 14px;
  }
  .md\:fs-15 {
      font-size: 15px;
  }
  
  .md\:fs-16 {
      font-size: 16px;
  }
  
  .md\:fs-18 {
      font-size: 18px;
  }
  
  .md\:fs-20 {
      font-size: 20px;
  }
  
  .md\:fs-24 {
      font-size: 24px;
  }
  
  .md\:fs-28 {
      font-size: 28px;
  }
  
  .md\:fs-32 {
      font-size: 32px;
  }
  
  .md\:fs-40 {
      font-size: 40px;
  }
  .md\:fs-48 {
      font-size: 48px;
  }
  .md\:fs-64 {
      font-size: 64px;
  }
}

@media (min-width: 992px) {
  .lg\:fs-12 {
      font-size: 12px;
  }
  .lg\:fs-13 {
      font-size: 13px;
  }
  
  .lg\:fs-14 {
      font-size: 14px;
  }
  .lg\:fs-15 {
      font-size: 15px;
  }
  
  .lg\:fs-16 {
      font-size: 16px;
  }
  
  .lg\:fs-18 {
      font-size: 18px;
  }
  
  .lg\:fs-20 {
      font-size: 20px;
  }
  
  .lg\:fs-24 {
      font-size: 24px;
  }
  
  .lg\:fs-28 {
      font-size: 28px;
  }
  
  .lg\:fs-32 {
      font-size: 32px;
  }
  
  .lg\:fs-40 {
      font-size: 40px;
  }
  .lg\:fs-48 {
      font-size: 48px;
  }
  .lg\:fs-64 {
      font-size: 64px;
  }
}

@media (min-width: 1200px) {
  .xl\:fs-12 {
      font-size: 12px;
  }
  .xl\:fs-13 {
      font-size: 13px;
  }
  
  .xl\:fs-14 {
      font-size: 14px;
  }
  .xl\:fs-15 {
      font-size: 15px;
  }
  
  .xl\:fs-16 {
      font-size: 16px;
  }
  
  .xl\:fs-18 {
      font-size: 18px;
  }
  
  .xl\:fs-20 {
      font-size: 20px;
  }
  
  .xl\:fs-24 {
      font-size: 24px;
  }
  
  .xl\:fs-28 {
      font-size: 28px;
  }
  
  .xl\:fs-32 {
      font-size: 32px;
  }
  
  .xl\:fs-40 {
      font-size: 40px;
  }
  .xl\:fs-48 {
      font-size: 48px;
  }
  .xl\:fs-64 {
      font-size: 64px;
  }
}

@media (min-width: 1400px) {
  .xxl\:fs-12 {
      font-size: 12px;
  }
  .xxl\:fs-13 {
      font-size: 13px;
  }
  
  .xxl\:fs-14 {
      font-size: 14px;
  }
  .xxl\:fs-15 {
      font-size: 15px;
  }
  
  .xxl\:fs-16 {
      font-size: 16px;
  }
  
  .xxl\:fs-18 {
      font-size: 18px;
  }
  
  .xxl\:fs-20 {
      font-size: 20px;
  }
  
  .xxl\:fs-24 {
      font-size: 24px;
  }
  
  .xxl\:fs-28 {
      font-size: 28px;
  }
  
  .xxl\:fs-32 {
      font-size: 32px;
  }
  
  .xxl\:fs-40 {
      font-size: 40px;
  }
  .xxl\:fs-48 {
      font-size: 48px;
  }
  .xxl\:fs-64 {
      font-size: 64px;
  }
}

/* Text color */
.text-white{
  color: var(--white) !important;
}
.text-white-80{
  color: var(--white-80) !important;
}

.text-body{
  color: var(--color-text) !important;
}

.text-detail{
  color: var(--text-color-detail) !important;
}
.text-detail-secondary{
  color: var(--text-detail) !important;
}
.text-gray{
  color: var(--text-lv3) !important;
}

.text-primary{
  color: var(--color-primary) !important;
}
.text-primary-600{
  color: var(--color-font) !important;
}
.text-blue{
  color: var(--blue) !important;
}
.text-danger-400{
  color: #ed6969 !important;
}
.text-danger{
  color: #EB5757 !important;
}

/* Text color hover */
.hover\:text-primary:hover{
  color: var(--color-primary) !important;
}
.hover\:text-primary-600:hover{
  color: var(--color-font) !important;
}
.hover\:text-blue:hover{
  color: var(--blue) !important;
}
.hover\:text-danger-400:hover{
  color: #ed6969 !important;
}
.hover\:text-danger:hover{
  color: #EB5757 !important;
}
/* BACKGROUND COLOR */
.bg-main{
  background-color: var(--background-main);
}
.bg-white{
  background-color: #fff;
}
.bg-gray{
  background-color: var(--bg-gray);
}
.bg-footer{
  background-color: var(--bg-footer);
}


/* ------------ OTHER ------------ */

/* Dropdown */
.theme-dropdown {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
}

.theme-dropdown-content {
  position: absolute;
  top: calc(100% + 12px);
  left: 0;
  width: 100%;
  background-color: #fff;
  margin: 0;
  transition: all 0.25s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  min-width: 110px;
  z-index: 30;
}
.theme-dropdown-content.active {
  top: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}


.theme-dropdown-list li:not(:last-child) a {
  border-bottom: 1px solid var(--color-border);
}


/* MODAL */

.owl-modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 9999;
  align-items: flex-start;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.25 ease-in-out;
  max-height: 100vh;
  max-height: 100dvh;
  max-height: 100lvh;
  padding: 24px;
}

.owl-modal-center {
  align-items: center;
}
.owl-modal.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.owl-modal-content {
  width: 100%;
  max-width: 880px;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: hidden;
}
.owl-modal-content-sm {
  max-width: 640px;
}

.owl-modal-content-auth,
.owl-modal-content-share {
  max-width: 537px;
}

.owl-modal-body {
  overflow: auto;
}

.owl-modal-header {
  position: relative;
}

.modal-close {
  width: 24px;
  height: 24px;
  border-radius: 0;
  background-color: transparent;
  transition: all 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;
  position: absolute;
  top: 24px;
  right: 24px;
}
.modal-close:hover svg *[fill]{
  fill: var(--color-primary-400);
}
.modal-close:hover svg *[stroke]{
  stroke: var(--color-primary-400);
}
.modal-close svg {
  width: 18px;
  height: 18px;
}

/* theme-form-control */

.theme-form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.theme-form-label {
  font-size: 14px;
  line-height: calc(22 / 14);
  font-weight: 500;
  color: var(--color-form-label);
}
.theme-form-caption {
  font-size: 14px;
  line-height: calc(22 / 14);
  color: var(--color-form-caption);
}
.theme-form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  font-size: 14px;
  line-height: calc(22 / 14);
  padding: 12px 16px;
  border: 1px solid var(--color-form-border);
  /* border-radius: 4px; */
  transition: all 0.25s;
  text-overflow: ellipsis;
  color: var(--color-form-input);
  border-radius: 8px;
}
.theme-form-control-lg {
  padding: 12px 12px;
}
.theme-form-group-error .theme-form-control {
  border-color: var(--color-form-error);
}
.theme-form-group-error .theme-form-caption {
  color: var(--color-form-error);
}
.theme-form-control[disabled] {
  background: var(--color-form-border);
}
select.theme-form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: center right 12px;
  background-color: #fff;
}

select.theme-form-control {
  background-image: url("../images/icons/base/select-down.svg");
  background-size: 16px 16px;
  padding-right: 40px;
}

.theme-form-control:-webkit-input-placeholder {
	/* Edge */
	color: var(--color-form-placeholder);
}

.theme-form-control:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: var(--color-form-placeholder);
}

.theme-form-control::-moz-placeholder {
	color: var(--color-form-placeholder);
}

.theme-form-control::-ms-input-placeholder {
	color: var(--color-form-placeholder);
}

.theme-form-control::-webkit-input-placeholder {
	color: var(--color-form-placeholder);
}

.theme-form-control::placeholder {
	color: var(--color-form-placeholder);
}
.no-resize {
  resize: none;
}

/* Button */
.theme-btn {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  border-radius: 8px;
  gap: 12px;
  padding: 15px 24px;
  font-size: 14px;
  line-height: calc(18 / 14);
  transition: all 0.25s;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}
.btn-sm{
  padding: 13px 18px;
}
.btn-lg{
  padding: 20px 40px;
  font-size: 16px;
  line-height: calc(19 / 16);
}
.theme-btn svg,
.theme-btn img {
  width: 24px;
  height: 24px;
  min-width: 24px;
}
.theme-btn img {
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}
.theme-btn svg *[fill] {
  fill: currentColor;
}
.theme-btn svg *[stroke] {
  stroke: currentColor;
}


.btn-primary {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  color: #fff;
}
.btn-primary:hover,
.btn-primary:focus {
  border-color: var(--color-primary-400);
  background-color: var(--color-primary-400);
  color: #fff;
}

.btn-white {
  border-color: #fff;
  background-color: #fff;
  color: var(--color-primary-600);
}
.btn-white:hover,
.btn-white:focus {
  border-color: #fff;
  background-color: #fff;
  color: var(--color-primary)
}


.btn-gradient {
  border: 0;
  background: linear-gradient(94deg, #FF8B26 -1.37%, #FFAF13 105.18%);
  color: #fff;
}
.btn-gradient:hover,
.btn-gradient:focus {
  background: linear-gradient(94deg, #FF8B26 -1.37%, #ffb932 105.18%);
  color: #fff;
}


.btn-block {
  width: 100%;
}
.theme-btn.btn-disabled,
.theme-btn[disabled] {
  opacity: 0.75;
  cursor: auto;
  pointer-events: none;
}
.btn-text {
  text-align: center;
}

.btn-float-icon .btn-text {
  flex: 1;
}


.btn-icon {
  display: flex;
}
.btn-icon svg{
  width: 24px;
  height: 24px;
}
.btn-sm .btn-icon svg{
  width: 20px;
  height: 20px;
}

.btn-less{
  background-color: transparent;
  border: 0;
  outline: none;
  box-shadow: none;
}

/* OTHER */
.underline-element {
  border-bottom: 1px solid var(--color-border);
}

/* TAB */
.tab-content-item {
  display: none;
}
.tab-content-item.active {
  display: block;
}


/* read-more */
.read-more-area-actions{
  padding-top: 24px;
}
.read-more-area-more {
  display: block;
}
.read-more-area-less {
  display: none;
}
.read-more-area .read-more-area-btn svg {
  width: 16px;
  height: 16px;
  transition: all 0.25s;
}


.read-more-area.is-show-full-content .read-more-area-more {
  display: none;
}
.read-more-area.is-show-full-content .read-more-area-less {
  display: block;
}

.read-more-area.is-show-full-content .read-more-area-btn svg {
  transform: rotate(180deg);
}

/* CHECKBOX */
.custom-checkbox {
  display: flex;
  position: relative;
  align-items: center;
  gap: 16px;
  padding-left: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--text-lv3);
}

.custom-checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox-mark {
  position: relative;
  height: 24px;
  width: 24px;
  border: 0;
  /* border: 1px solid var(--color-border); */
  order: -1;
  border-radius: 4px;
  transition: all 0.25s;
  min-width: 24px;
  background-color: #ECECEC;
}

.custom-checkbox-mark:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg) translate(-50%, -50%);
  transform-origin: top center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s;
  
}
.custom-checkbox-input:checked ~ .custom-checkbox-mark {
  /* border: 1px solid var(--color-text); */
  background-color: var(--color-main);
}
.custom-checkbox-input:checked ~ .custom-checkbox-mark:after {
  opacity: 1;
  visibility: visible;
}

/* Radio */
.custom-radio {
  display: flex;
  position: relative;
  align-items: center;
  gap: 8px;
  padding-left: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-radio-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-radio-mark {
  position: relative;
  height: 20px;
  width: 20px;
  border: 1px solid #D0D5DD;
  order: -1;
  border-radius: 20px;
  transition: all 0.25s;
  min-width: 20px;
}

.custom-radio-mark:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  transform-origin: center;
  background-color: var(--color-primary);
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s;
}
.custom-radio-input:checked ~ .custom-radio-mark {
  border: 1px solid var(--color-primary);
  background: var(--color-primary);
}
.custom-radio-input:checked ~ .custom-radio-mark:after {
  opacity: 1;
  visibility: visible;
}

.homepage-heading{
  display: none;
}


/* SLIDER */

.theme-slider-inner {
  overflow: hidden;
}


@media (max-width: 767px) {
  .over-mobile {
      --over-mobile-width: calc(80% - 12px);
      overflow: auto;
  }

  .over-mobile.over-mobile-cols-2 {
      grid-template-columns: repeat(2, var(--over-mobile-width));
  }

  .over-mobile.over-mobile-cols-3 {
      grid-template-columns: repeat(3, var(--over-mobile-width));
  }

  .over-mobile.over-mobile-cols-4 {
      grid-template-columns: repeat(4, var(--over-mobile-width));
  }
}


/* shadow */
.shadow-sm {
	box-shadow: 0px 1px 2px #000000;
}
.shadow-base {
	box-shadow: 0px 1px 2px -1px #000000, 0px 1px 3px #000000;
}
.shadow-md {
	box-shadow: 0px 2px 4px -2px #000000, 0px 4px 6px -1px #000000;
}
.shadow-lg {
	box-shadow: 0px 4px 6px -4px #000000, 0px 10px 15px -3px #000000;
}
.shadow-xl {
	box-shadow: 0px 8px 10px -6px #000000, 0px 20px 25px -5px #000000;
}
.shadow-xxl {
	box-shadow: 0px 25px 50px -12px #000000;
}

.box-shadow {
  box-shadow: 0px 2px 2px 0px rgba(12, 111, 114, 0.04);
}


.toggle-icon-input {
  position: relative;
}

.toggle-icons {
  position: absolute;
  top: 0;
  width: 52px;
  height: 100%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.toggle-icons.active .toggle-icon-secondary,
.toggle-icons .toggle-icon-primary {
  display: flex;
}
.toggle-icons.active .toggle-icon-primary,
.toggle-icons .toggle-icon-secondary {
  display: none;
}

.toggle-icon-input .theme-form-control {
  width: 100%;
  padding-right: 52px;
}

