
.container-left {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 0;
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
    --vw: 100vw;
    --current: 100%;
    --space: calc(var(--vw) - var(--current));
    --space-left: calc(var(--space) / 2);
    
}
@media (min-width: 576px){
    .container-left {
        --current: 540px;
        padding-left: var(--space-left);
    }
}
@media (min-width: 768px){
    .container-left {
        --current: 720px;
    }
}
@media (min-width: 992px){
    .container-left {
        --current: 960px;
    }
}
@media (min-width: 1200px){
    .container-left {
        --current: 1140px;
    }
}
@media (min-width: 1400px){
    .container-left {
        --current: 1200px;
    }
}


/* SLICK */

.slick-dots {
    margin: 0;
    list-style: none;
    display: flex !important;
    justify-content: center;
    gap: 8px;
    align-items: center;
    padding: 0;
    padding-top: 24px;
}

.slick-dots li {
    display: inline-flex;
}

.slick-dots li button {
    width: 6px;
    height: 6px;
    border: 0;
    border-radius: 9999px;
    background-color : #B0B7C4;
    /* background: var(--color-border); */
    text-indent: -9999px;
    overflow: hidden;
    transition: all 0.25s;
    cursor: pointer;
}

/* .slick-dots li.slick-active button,
.slick-dots li button:hover {
    background: var(--color-disabled);
} */
.slick-dots li.slick-active button{
    width: 32px;
    background-color: #2AAEB2;
}

.container-left .slick-dots {
    padding-right: calc(var(--bs-gutter-x)* .5);
}
@media (min-width: 576px){
    .container-left .slick-dots {
        padding-right: var(--space-left);
    }
}


.owl-nav-item {
    border: 0;
    cursor: pointer;
    width: 48px;
    height: 48px;
    background-color: rgba(60, 188, 185, 0.1);
    /* box-shadow: 0px 2px 40px 10px rgba(17, 17, 17, 0.08); */
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden !important;
    transition: all 0.25s;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.owl-nav-white .owl-nav-item{
    background-color: rgba(255,255,255,.5);
}
.owl-nav-item.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.owl-nav-item svg {
    width: 28px;
    height: 28px;
}
.owl-nav-item:hover{
    background-color: rgba(60, 188, 185, 0.2);
}
.owl-nav-white .owl-nav-item:hover{
    background-color: rgba(255,255,255,.7);
}
.owl-nav-item:hover svg *[fill],
.owl-nav-item:hover svg *[stroke]{
    transition: all 0.25s;
}
.owl-nav-item:hover svg *[fill]{
    /* fill: var(--color-primary-400); */
}
.owl-nav-item:hover svg *[stroke]{
    /* stroke: var(--color-primary-400); */
}
.theme-slider-outer{
    position: relative;
}

.owl-nav-item{
    position: absolute;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
}
.owl-nav-item.owl-nav-prev{
    left: 0;
}
.owl-nav-item.owl-nav-next{
    right: 0;
}

.owl-nav-outside .owl-nav-prev {
    left: -64px;
    right: auto;
}

.owl-nav-outside .owl-nav-next {
    right: -64px;
    left: auto;
}

@media (max-width: 1280px) and (min-width: 1200px) {
    .owl-nav-outside .owl-nav-prev {
        left: 12px;
    }

    .owl-nav-outside .owl-nav-next {
        right: 12px;
    }
    .flash-sale-slider .owl-nav-item{
        top: 91px;
    }
    .owl-nav-item,
    .owl-nav-white .owl-nav-item{
        background-color: rgba(255,255,255,.9);
    }
    .owl-nav-item:hover,
    .owl-nav-white .owl-nav-item:hover{
        background-color: rgba(255,255,255,1);
    }
}

@media (max-width: 1072px) and (min-width: 992px) {
    .owl-nav-outside .owl-nav-prev {
        left: 12px;
    }

    .owl-nav-outside .owl-nav-next {
        right: 12px;
    }
    .flash-sale-slider .owl-nav-item{
        top: 75px;
    }
    .owl-nav-item,
    .owl-nav-white .owl-nav-item{
        background-color: rgba(255,255,255,.9);
    }
    .owl-nav-item:hover,
    .owl-nav-white .owl-nav-item:hover{
        background-color: rgba(255,255,255,1);
    }
}

@media (max-width: 848px) and (min-width: 768px) {
    .owl-nav-outside .owl-nav-prev {
        left: 12px;
    }

    .owl-nav-outside .owl-nav-next {
        right: 12px;
    }
    .flash-sale-slider .owl-nav-item{
        top: 75px;
    }
    .owl-nav-item,
    .owl-nav-white .owl-nav-item{
        background-color: rgba(255,255,255,.9);
    }
    .owl-nav-item:hover,
    .owl-nav-white .owl-nav-item:hover{
        background-color: rgba(255,255,255,1);
    }
}








@media (max-width: 1199.98px) {
    .owl-nav-item {
        width: 44px;
        height: 44px;
    }
    .owl-nav-item svg {
        width: 24px;
        height: 24px;
    }
    
}
@media (max-width: 991.98px) {
    .owl-nav-item {
        width: 40px;
        height: 40px;
    }
    .owl-nav-item svg {
        width: 22px;
        height: 22px;
    }
}


@media (max-width: 767.98px) {

    .owl-nav-outside .owl-nav-prev {
        left: 12px;
    }

    .owl-nav-outside .owl-nav-next {
        right: 12px;
    }
    .flash-sale-slider .owl-nav-item{
        top: 86px;
    }
    .owl-nav-item,
    .owl-nav-white .owl-nav-item{
        background-color: rgba(255,255,255,.9);
    }
    .owl-nav-item:hover,
    .owl-nav-white .owl-nav-item:hover{
        background-color: rgba(255,255,255,1);
    }
}

@media (max-width: 575.98px) {
    .flash-sale-slider .owl-nav-item{
        top: calc(50% - 82px);
    }
}










/* FIX WP */
blockquote {
    border-left: 2px solid #446084;
    color: #333;
    font-size: 1.2em;
    font-style: italic;
    margin: 0 0 1.25em;
    padding: 0 1.25em 0 1.875em;
    position: relative;
}

@media (min-width:768px){
    .alignright {
        display: inline;
        float: right;
        margin-left: 1.5em;
    }
    .alignleft {
        display: inline;
        float: left;
        margin-right: 1.5em;
    }
    .aligncenter {
        clear: both;
        display: block !important;
        margin: 0 auto;
    
    }

}


/* FIX POST DETAIL */

.text-editor-content-detail {
    line-height: calc(24 / 14);
}

.text-editor-content-detail blockquote,
.text-editor-content-detail dl,
.text-editor-content-detail figure,
.text-editor-content-detail form,
.text-editor-content-detail ol,
.text-editor-content-detail p,
.text-editor-content-detail pre,
.text-editor-content-detail ul {
    margin-bottom: 20px;
}

.text-editor-content-detail ol li,
.text-editor-content-detail ul li {
    margin-bottom: 0.6em;
}

.text-editor-content-detail ol li,
.text-editor-content-detail ul li {
    margin-left: 1.3em;
}

.text-editor-content-detail h1,
.text-editor-content-detail h2,
.text-editor-content-detail h3,
.text-editor-content-detail h4,
.text-editor-content-detail h5,
.text-editor-content-detail h6 {
    margin-bottom: 0.5em;
}

.text-editor-content-detail > *:last-child{
    margin-bottom: 0;
}
.text-editor-content-detail p {
    word-break: break-word;
}

.text-editor-content-detail img {
    border-radius: 12px;

    max-width: 100%;

    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.text-editor-content-detail iframe[src*="youtube.com"] {
    width: 100% !important;

    height: auto !important;

    aspect-ratio: 16 / 9;

    border-radius: 12px;

    overflow: hidden;
}

.text-editor-content-detail iframe {
    width: 100% !important;
}

.text-editor-content-detail .wp-caption {
    max-width: 100%;
}

.text-editor-content-detail .wp-caption .wp-caption-text {
    padding: 0.4em;

    font-size: 0.9em;

    display: block;
}

.text-editor-content-detail .wp-caption-text {
    text-align: center;
}
.text-editor-content-detail {
    font-size: 14px;
}

article {
    max-width: 100%;

    overflow: hidden;

    min-width: 1px;

    display: block;

    position: relative;
}


.text-editor-content-detail .video>p {
    margin: 0;
}

.text-editor-content-detail .video iframe {
    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    -o-object-fit: cover;

    object-fit: cover;

    -o-object-position: center;

    object-position: center;
}

.text-editor-content-detail .video {
    position: relative;

    overflow: hidden;

    margin-bottom: 20px;

    width: 100%;
}


/* NAVIGATION */

.pagination .page-numbers.current {
    background-color: var(--color-border);
}

.pagination .page-numbers {
    min-width: 32px;

    min-height: 32px;

    color: var(--color-text);

	font-size: 14px;
	line-height: calc(22 - 14);

    border-radius: 6px;

    padding-left: 8px;

    padding-right: 8px;

    padding-top: 4px;

    padding-bottom: 4px;

    align-items: center;

    justify-content: center;

    display: flex !important;
}

.pagination .page-numbers:hover {
    background-color: var(--color-border);

    color: var(--color-text);
}


/* COMMENT */
.news-comments #comments {
    width: 100% !important;

    max-width: 100% !important;

    margin: 0 !important;
}


/* TAG */

.article-tags>a:not(:last-child)::after,
.article-categories>a:not(:last-child)::after {
    content: ",";
    margin-right: 4px;
}

.article-tags {
    font-size: 13px;

    line-height: 1.4;
}


/* FIX ADMIN BAR */
html .admin-bar header {
    top: 32px;
}

@media screen and (max-width: 1199.98px) {
    html .admin-bar .horizontal-menu {
        padding-top: 32px;
    }
}

@media screen and (max-width: 782px) {
    html .admin-bar header {
        top: 46px;
    }
    html .admin-bar .horizontal-menu {
        padding-top: 46px;
    }
}

@media screen and (max-width: 600px) {
    #wpadminbar {
        position: absolute;
    }

    html {
        margin-top: 0px !important;
    }

    html .admin-bar {
        padding-top: 45px !important;
    }

    html .admin-bar header {
        top: 0;
    }
}



/* TABLE */

.table-responsive {
    display: block;

    position: relative;

    max-width: 100%;

    max-height: calc(100vh - 250px);

    overflow: auto;

    margin-bottom: 16px;
}


.table-responsive>table {
    width: auto !important;

    min-width: 100% !important;

    max-width: 100% !important;

    table-layout: fixed !important;

    height: auto !important;

    border-spacing: 0;
}

.table-responsive>table tbody tr td,
.table-responsive>table thead tr th {
    width: auto !important;

    height: auto !important;

    padding: 6px 12px !important;

    text-align: left;
}

.table-responsive>table,
.table-responsive>table tr,
.table-responsive>table th,
.table-responsive>table td,
.table-responsive>table th {
    border-color: var(--color-border) !important;
}

.table-responsive>table td,
.table-responsive>table th {
    border-bottom: 1px solid var(--color-border) !important;
}

@media (max-width: 767px) {
    .table-responsive>table tbody td * {
        inline-size: -webkit-max-content;

        inline-size: -moz-max-content;

        inline-size: max-content;

        max-width: 35vw;
    }
}

.table-responsive>table>colgroup {
    display: none !important;
}

/* kk-star-ratings */
.kk-star-ratings .kksr-legend {
    margin-right: 0;

    font-size: 16px !important;
}

.fancybox__container{
    z-index: 9004;
}
.fancybox__backdrop{
    background: rgba(0, 0, 0, .85);
}

/* pagination */

.page-item {
    display: inline-flex;
}

.page-link {
    padding: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 44px;
    font-size: 14px;
    line-height: calc(18 / 14);
    color: var(--pagination);
    background-color: #fff;
    border: 1px solid #EEF2FA !important;
    border-radius: 8px !important;
}

.page-link:hover {
    color: var(--color-primary-600);
    background-color: #fff;
}

.page-item.active .page-link {
    border-color: var(--color-primary-600) !important;
    background: var(--color-primary-600);
    color: #fff;
}
@media (max-width: 575px) {
    .page-link {
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 34px;
        font-size: 13px;
        line-height: calc(18 / 14);
        color: var(--pagination);
        background-color: #fff;
        border: 1px solid #EEF2FA !important;
        border-radius: 8px !important;
    }
}

/* BS DROPDOWN */
.dropdown-menu {
    margin: 0;
    list-style: none;
    box-shadow: 0px 6px 21px 0px rgba(0, 0, 0, 0.15) !important;
    padding: 8px 0 !important;
    border-radius: 6px !important;
    background: #fff;
    border: 0 !important;
}

.dropdown-menu > li {
    padding: 0 8px;
    display: block;
}

.dropdown-menu > li > a,.dropdown-menu > li > button {
    padding: 10px 12px;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 14px;
    line-height: calc(18 / 14);
    font-weight: 500;
    transition: all 0.25s;
    border-radius: 4px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > button:hover {
    background: #F7F7F7;
}



.owl-timer-item {
    line-height: calc(24 / 16);
    padding: 2px 10px;
    background: #fff;
    box-shadow: 0px 4px 8px 0px rgba(20, 24, 56, 0.12);
}






/* MODAL */
.custom-modal {
    padding: 0 64px;
    position: relative;
}

.custom-modal .modal-body {
    padding: 0;
}

.custom-modal .modal-header {
    border: 0;
    padding: 0;
}

.custom-modal .btn-close {
    position: absolute;
    top: 0;
    padding: 0;
    right: -56px;
    background: rgba(255,255,255,.3);
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    transition: all .25s;
    cursor: pointer;
    z-index: 9999;
    pointer-events: all;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.custom-modal .btn-close svg {
    transition: all .25s;
    width: 24px;
    height: 24px;
}

.custom-modal .btn-close:hover {
    background: rgba(255,255,255,.5);
}

.custom-modal .btn-close:hover svg {
    opacity: 1;
}
.custom-modal .modal-content{
    border: 0;
    overflow: visible;
    border-radius: 8px;
}
.custom-modal .modal-body {
    padding: 0;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
.custom-modal .custom-modal-body {
    overflow: auto;
}
.modal-backdrop {
    background: #171819 !important;
}

.modal-backdrop.show {
    opacity: .64 !important;
}
@media (min-width: 992px){
    .modal-lg.custom-modal {
       --bs-modal-width: calc(916px + 128px);
   }   
}

@media (max-width: 991.98px) {
    .modal-lg.custom-modal {
        --bs-modal-width: 100%;
    } 
}
@media (max-width: 767px) {
    .custom-modal{
        padding: 0 8px;
    }
    .custom-modal .btn-close{
        right: 12px;
        top: 12px;
        width: 32px;
        height: 32px;
    }
    .custom-modal .btn-close {
        background: rgba(0, 0, 0, .25);
    }
    .custom-modal .btn-close:hover {
        background: rgba(0, 0, 0, .35);
    }

}

/* Tab */
.tab-content.tab-content-visible>.tab-pane {
    display: block;
    height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}

.tab-content.tab-content-visible>.tab-pane.active {
    height: auto;
    opacity: 1;
    visibility: visible;
}
.flat-tabs {
    border-bottom: 1px solid var(--line-stroke);
    margin-bottom: 20px;
}

.flat-tabs .nav-link.active {
    color: #000;
}

.flat-tabs .nav-link {
    border: 0;
    margin: 0;
    padding: 0 0 20px 0;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-detail);
    position: relative;
}

.flat-tabs .nav-link:after {
    content: "";
    position: absolute;
    bottom: -0.5px;
    left: 0;
    width: 100%;
    border-bottom: 2px solid transparent;
}

.flat-tabs .nav-link.active:after {
    border-color: var(--color-main);
}

/* range-slider */
.range-top{
    margin-bottom: 22px;
}
.range-slider {
    height: 4px;
    position: relative;
    background-color: #e1e9f6;
    border-radius: 2px;
  }
  .range-selected {
    height: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: 4px;
    background-color: var(--color-main);
  }
  .range-input {
    position: relative;
  }
  .range-input input {
    position: absolute;
    width: 100%;
    height: 4px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -2px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .range-input input::-webkit-slider-thumb {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid var(--color-main);
    background-color: #fff;
    pointer-events: auto;
    -webkit-appearance: none;
  }
  .range-input input::-moz-range-thumb {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid var(--color-main);
    background-color: #fff;
    pointer-events: auto;
    -moz-appearance: none;
  }

/* breadcrumb */
.breadcrumb-item+.breadcrumb-item::before {
    content: "" !important;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background: #D0D0D0;
    padding-right: 0;
}

.breadcrumb-item+.breadcrumb-item {
    padding: 0;
}


.owl-collapse-item.active .owl-collapse-icon svg .owl-collapse-v {
    opacity: 0;
}

.owl-collapse-icon svg rect {
    transition: all .25s;
}


/* CHART */

.single-chart {
    width: 100%;
    position: relative;
  }
  
  .circular-chart {
    display: block;
    width: 100%;
  }
  
  .circle-bg {
    fill: #fff;
    stroke: #D5E5E5;
    stroke-width: 1.7;
  }
  
  .circle {
    fill: none;
    stroke-width: 1.7;
    stroke-linecap: round;
    -webkit-animation: progress 1s ease-out forwards;
            animation: progress 1s ease-out forwards;
  }
  
  @-webkit-keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart .circle {
    stroke: var(--color-main);
  }
 
  .single-chart-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }


/* Datetimepicker */
.xdsoft_datetimepicker {
    border: 0;
    border-radius: 6px;
    font-family: inherit;
}

.xdsoft_datetimepicker .xdsoft_label>.xdsoft_select {
    border-color: #ddd;
    border-radius: 6px;
}

.xdsoft_scrollbar {
    width: 5px;
}

.xdsoft_scrollbar>.xdsoft_scroller {
    background: #ddd !important;
    border-radius: 5px;
}

.xdsoft_datetimepicker .xdsoft_label>.xdsoft_select>div>.xdsoft_option {
    font-weight: 500;
}

.xdsoft_datetimepicker .xdsoft_label>.xdsoft_select>div>.xdsoft_option:hover {
    /* background: #eee;
    color: inherit; */
}

.xdsoft_datetimepicker .xdsoft_label>.xdsoft_select>div>.xdsoft_option.xdsoft_current {
    box-shadow: none;
    font-weight: 500;
    background: var(--color-primary);
}

.xdsoft_datetimepicker .xdsoft_label>.xdsoft_select>div>.xdsoft_option.xdsoft_current:hover {
    /* color: #fff; */
}

.xdsoft_datetimepicker .xdsoft_calendar td {
    /* background: #fff; */
    color: #222;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current {
    box-shadow: none;
    background: var(--color-primary);
}

.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div:hover {
    /* background: #eee !important; */
    /* color: #666 !important; */
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default:hover,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current:hover {
    /* background: var(--color-primary) !important;
    color: #fff !important; */
}




.form-control-tel {
    position: relative;
}

.form-control-tel .theme-form-control {
    width: 100%;
    padding-left: 96px !important;
}
.form-control-tel .dropdown {
    position: absolute;
    top: 1px;
    left: 16px;
    width: 64px;
    height: calc(100% - 2px);
}

.form-control-tel .dropdown .dropdown-toggle {
    border: 0;
    background: transparent;
    width: 100%;
    height: 100%;
    border-right: 1px solid var(--color-border);
    padding: 12px;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.form-control-tel .dropdown .dropdown-toggle:after{
    background-image: url(../images/icons/base/select-arrow.svg);
    background-size: 16px 16px;
    border: 0;
    width: 20px;
    height: 20px;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
}

.form-control-tel .dropdown .dropdown-toggle img {
    max-width: 24px;
    max-height: 16px;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
}

.form-control-tel .dropdown .dropdown-menu {
    left: -16px !important;
    right: auto !important;
}



.custom-radio-flag {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.custom-radio-flag-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.custom-radio-flag-item{
    padding: 6px 12px;
    background-color: #fff;
    width: 100%;
}
.custom-radio-flag-input:checked ~ .custom-radio-flag-item{
    background-color: var(--color-gray-100);
}