a {
  text-decoration: none;
  transition: all 0.25s;
}
a:hover,
a:focus {
  color: var(--color-link);
  text-decoration: none;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  outline: none !important;
}
img {
  max-width: 100%;
}
.transition{
  transition: all 0.25s;
}
input,
textarea,
button,
select,
a,
.no-highlight,
.menu-toggle,
.header-search,
.theme-dropdown-toggle {
  -webkit-tap-highlight-color: transparent;
}

/* CONTAINER */

.container,
.container-fluid {
  width: 100%;
  padding-right: var(--default-space, 15px);
  padding-left: var(--default-space, 15px);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: calc(576px - calc(var(--default-space) * 2));
    /* 528px */
  }
}
@media (min-width: 768px) {
  .container {
    max-width: calc(768px - calc(var(--default-space) * 2));
    /* 720px */
  }
}
@media (min-width: 992px) {
  .container {
    max-width: calc(992px - calc(var(--default-space) * 2));
    /* 944px */
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: calc(1200px - calc(var(--default-space) * 2));
    /* 1152px */
  }
}
@media (min-width: 1440px) {
  .container {
    /* max-width: calc(1440px - calc(var(--default-space) * 2)); */
    max-width: calc(1200px + calc(var(--default-space) * 2));
    /* 1392px */
  }
}

/* END CONTAINER */

/* STICKY FOOTER */
#page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

#site-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
/* END STICKY FOOTER */

/* Paragraph's lines */
.text-truncate-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-truncate-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-truncate-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-truncate-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-truncate-6 {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 576px) {
  .sm\:text-truncate-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .sm\:text-truncate-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .sm\:text-truncate-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .sm\:text-truncate-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .sm\:text-truncate-5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .sm\:text-truncate-6 {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (min-width: 768px) {
  .md\:text-truncate-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .md\:text-truncate-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .md\:text-truncate-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .md\:text-truncate-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .md\:text-truncate-5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .md\:text-truncate-6 {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (min-width: 992px) {
  .lg\:text-truncate-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .lg\:text-truncate-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .lg\:text-truncate-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .lg\:text-truncate-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .lg\:text-truncate-5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .lg\:text-truncate-6 {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (min-width: 1200px) {
  .xl\:text-truncate-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .xl\:text-truncate-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .xl\:text-truncate-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .xl\:text-truncate-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .xl\:text-truncate-5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .xl\:text-truncate-6 {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* End paragraph's lines */

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
@media (min-width: 576px) {
  .sm\:text-left {
    text-align: left;
  }
  .sm\:text-center {
    text-align: center;
  }
  .sm\:text-right {
    text-align: right;
  }
  .sm\:text-justify {
    text-align: justify;
  }
}
@media (min-width: 768px) {
  .md\:text-left {
    text-align: left;
  }
  .md\:text-center {
    text-align: center;
  }
  .md\:text-right {
    text-align: right;
  }
  .md\:text-justify {
    text-align: justify;
  }
}
@media (min-width: 992px) {
  .lg\:text-left {
    text-align: left;
  }
  .lg\:text-center {
    text-align: center;
  }
  .lg\:text-right {
    text-align: right;
  }
  .lg\:text-justify {
    text-align: justify;
  }
}
@media (min-width: 1200px) {
  .xl\:text-left {
    text-align: left;
  }
  .xl\:text-center {
    text-align: center;
  }
  .xl\:text-right {
    text-align: right;
  }
  .xl\:text-justify {
    text-align: justify;
  }
}

/* Font Weight */
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}

/* Text Transform */
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.underline {
  text-decoration: underline !important;
}
.line-through {
  text-decoration: line-through !important;
}
.capitalize {
  text-transform: capitalize;
}

/* Whitespace */
.whitespace-normal {
  white-space: normal;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.whitespace-pre {
  white-space: pre;
}
.whitespace-pre-line {
  white-space: pre-line;
}
.whitespace-pre-wrap {
  white-space: pre-wrap;
}
/* Word Break */
.break-all {
  word-break: break-all;
}
.break-word {
  word-break: break-word;
}

.list-unstyled {
  list-style: none;
}
.list-dot {
  list-style: none;
}
.list-dot li {
  position: relative;
  padding-left: 14px;
}
.list-dot li::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: var(--color-border);
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
}
.ratio-thumb {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  display: block;
}
.ratio-media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.ratio-1x1 {
  padding-bottom: 100%;
}
.ratio-2x1 {
  padding-bottom: 50%;
}
.ratio-3x1 {
  padding-bottom: 33%;
}
.ratio-3x2 {
  padding-bottom: 66%;
}

.ratio-4x3 {
  padding-bottom: 75%;
}

.ratio-16x9 {
  padding-bottom: 56.25%;
}

@media (min-width: 576px) {
  .sm\:ratio-1x1 {
    padding-bottom: 100%;
  }

  .sm\:ratio-2x1 {
    padding-bottom: 45%;
  }
  .sm\:ratio-3x1 {
    padding-bottom: 33%;
  }
  .sm\:ratio-3x2 {
    padding-bottom: 66%;
  }

  .sm\:ratio-4x3 {
    padding-bottom: 75%;
  }

  .sm\:ratio-16x9 {
    padding-bottom: 56.25%;
  }
}

@media (min-width: 768px) {
  .md\:ratio-1x1 {
    padding-bottom: 100%;
  }

  .md\:ratio-2x1 {
    padding-bottom: 45%;
  }
  .md\:ratio-3x1 {
    padding-bottom: 33%;
  }
  .md\:ratio-3x2 {
    padding-bottom: 66%;
  }

  .md\:ratio-4x3 {
    padding-bottom: 75%;
  }

  .md\:ratio-16x9 {
    padding-bottom: 56.25%;
  }
}

@media (min-width: 992px) {
  .lg\:ratio-1x1 {
    padding-bottom: 100%;
  }

  .lg\:ratio-2x1 {
    padding-bottom: 45%;
  }
  .lg\:ratio-3x1 {
    padding-bottom: 33%;
  }
  .lg\:ratio-3x2 {
    padding-bottom: 66%;
  }

  .lg\:ratio-4x3 {
    padding-bottom: 75%;
  }

  .lg\:ratio-16x9 {
    padding-bottom: 56.25%;
  }
}

@media (min-width: 1200px) {
  .xl\:ratio-1x1 {
    padding-bottom: 100%;
  }

  .xl\:ratio-2x1 {
    padding-bottom: 45%;
  }
  .xl\:ratio-3x1 {
    padding-bottom: 33%;
  }
  .xl\:ratio-3x2 {
    padding-bottom: 66%;
  }

  .xl\:ratio-4x3 {
    padding-bottom: 75%;
  }

  .xl\:ratio-16x9 {
    padding-bottom: 56.25%;
  }
}

/* object fit */
.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}
.object-contain {
  -o-object-fit: contain;
  object-fit: contain;
}
/* overflow */
.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}

/* position */
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
}
.fixed {
  position: fixed;
}

.hover-underline {
  display: inline-block;
  padding: 0 0 4px 0;
  position: relative;
}
.hover-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.5px;
  background-color: currentColor;
  opacity: 0;
  width: 0;
  transition: all 0.25s;
}
.hover-underline:hover::after {
  opacity: 1;
  width: 100%;
}

.hover-opacity {
  transition: all 0.25s;
}
.hover-opacity-75:hover {
  opacity: 0.75;
  transition: all 0.25s;
}
.hover-opacity-80:hover {
  opacity: 0.8;
  transition: all 0.25s;
}
.hover-opacity-85:hover {
  opacity: 0.85;
  transition: all 0.25s;
}
.hover-opacity-90:hover {
  opacity: 0.9;
  transition: all 0.25s;
}

.hover-img-effect {
  position: relative;
  overflow: hidden;
  display: block;
}

.hover-img-effect:after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    0,
    hsla(0, 0%, 100%, 0.2)
  );
  transform: skew(-25deg);
  z-index: 1;
}

.hover-img-effect:hover:after {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}
@-webkit-keyframes shine {
  to {
    left: 125%;
  }
}

@keyframes shine {
  to {
    left: 125%;
  }
}

.theme-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9001;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  /* pointer-events: none; */
}
.theme-overlay.active {
  opacity: 1;
  visibility: visible;
}

.cursor-pointer {
  cursor: pointer;
}

/* Z-Index */
.z-0 {
  z-index: 0;
}
.z-10 {
  z-index: 10;
}
.z-20 {
  z-index: 20;
}
.z-30 {
  z-index: 30;
}
.z-auto {
  z-index: auto;
}
.z-max {
  z-index: 9999;
}

/* WIDTH / HEIGHT */
.w-auto {
  width: auto;
}
.w-1\/2 {
  width: 50%;
}
.w-1\/3 {
  width: 33.333333%;
}
.w-2\/3 {
  width: 66.666667%;
}
.w-1\/4 {
  width: 25%;
}
.w-2\/4 {
  width: 50%;
}
.w-3\/4 {
  width: 75%;
}
.w-1\/5 {
  width: 20%;
}
.w-2\/5 {
  width: 40%;
}
.w-3\/5 {
  width: 60%;
}
.w-4\/5 {
  width: 80%;
}
.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}

.h-auto {
  height: auto;
}
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
@media (min-width: 576px) {
  .sm\:w-auto {
    width: auto;
  }
  .sm\:w-1\/2 {
    width: 50%;
  }
  .sm\:w-1\/3 {
    width: 33.333333%;
  }
  .sm\:w-2\/3 {
    width: 66.666667%;
  }
  .sm\:w-1\/4 {
    width: 25%;
  }
  .sm\:w-2\/4 {
    width: 50%;
  }
  .sm\:w-3\/4 {
    width: 75%;
  }
  .sm\:w-1\/5 {
    width: 20%;
  }
  .sm\:w-2\/5 {
    width: 40%;
  }
  .sm\:w-3\/5 {
    width: 60%;
  }
  .sm\:w-4\/5 {
    width: 80%;
  }
  .sm\:w-full {
    width: 100%;
  }
  .sm\:w-screen {
    width: 100vw;
  }

  .sm\:h-auto {
    height: auto;
  }
  .sm\:h-full {
    height: 100%;
  }
  .sm\:h-screen {
    height: 100vh;
  }
}
@media (min-width: 768px) {
  .md\:w-auto {
    width: auto;
  }
  .md\:w-1\/2 {
    width: 50%;
  }
  .md\:w-1\/3 {
    width: 33.333333%;
  }
  .md\:w-2\/3 {
    width: 66.666667%;
  }
  .md\:w-1\/4 {
    width: 25%;
  }
  .md\:w-2\/4 {
    width: 50%;
  }
  .md\:w-3\/4 {
    width: 75%;
  }
  .md\:w-1\/5 {
    width: 20%;
  }
  .md\:w-2\/5 {
    width: 40%;
  }
  .md\:w-3\/5 {
    width: 60%;
  }
  .md\:w-4\/5 {
    width: 80%;
  }
  .md\:w-full {
    width: 100%;
  }
  .md\:w-screen {
    width: 100vw;
  }

  .md\:h-auto {
    height: auto;
  }
  .md\:h-full {
    height: 100%;
  }
  .md\:h-screen {
    height: 100vh;
  }
}
@media (min-width: 992px) {
  .lg\:w-auto {
    width: auto;
  }
  .lg\:w-1\/2 {
    width: 50%;
  }
  .lg\:w-1\/3 {
    width: 33.333333%;
  }
  .lg\:w-2\/3 {
    width: 66.666667%;
  }
  .lg\:w-1\/4 {
    width: 25%;
  }
  .lg\:w-2\/4 {
    width: 50%;
  }
  .lg\:w-3\/4 {
    width: 75%;
  }
  .lg\:w-1\/5 {
    width: 20%;
  }
  .lg\:w-2\/5 {
    width: 40%;
  }
  .lg\:w-3\/5 {
    width: 60%;
  }
  .lg\:w-4\/5 {
    width: 80%;
  }
  .lg\:w-full {
    width: 100%;
  }
  .lg\:w-screen {
    width: 100vw;
  }

  .lg\:h-auto {
    height: auto;
  }
  .lg\:h-full {
    height: 100%;
  }
  .lg\:h-screen {
    height: 100vh;
  }
}
@media (min-width: 1200px) {
  .xl\:w-auto {
    width: auto;
  }
  .xl\:w-1\/2 {
    width: 50%;
  }
  .xl\:w-1\/3 {
    width: 33.333333%;
  }
  .xl\:w-2\/3 {
    width: 66.666667%;
  }
  .xl\:w-1\/4 {
    width: 25%;
  }
  .xl\:w-2\/4 {
    width: 50%;
  }
  .xl\:w-3\/4 {
    width: 75%;
  }
  .xl\:w-1\/5 {
    width: 20%;
  }
  .xl\:w-2\/5 {
    width: 40%;
  }
  .xl\:w-3\/5 {
    width: 60%;
  }
  .xl\:w-4\/5 {
    width: 80%;
  }
  .xl\:w-full {
    width: 100%;
  }
  .xl\:w-screen {
    width: 100vw;
  }

  .xl\:h-auto {
    height: auto;
  }
  .xl\:h-full {
    height: 100%;
  }
  .xl\:h-screen {
    height: 100vh;
  }
}

/* border */

.border-0 {
  border-width: 0px;
}

.border {
  border-width: 1px;
}

.border-x-0 {
  border-left-width: 0px;
  border-right-width: 0px;
}

.border-x {
  border-left-width: 1px;
  border-right-width: 1px;
}

.border-y-0 {
  border-top-width: 0px;
  border-bottom-width: 0px;
}

.border-y {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.border-t-0 {
  border-top-width: 0px;
}

.border-t {
  border-top-width: 1px;
}

.border-r-0 {
  border-right-width: 0px;
}

.border-r {
  border-right-width: 1px;
}

.border-b-0 {
  border-bottom-width: 0px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-l-0 {
  border-left-width: 0px;
}

.border-l {
  border-left-width: 1px;
}

.border-inherit {
  border-color: inherit;
}

.border-current {
  border-color: currentColor;
}

.border-gray {
  border-color: var(--color-border);
}
.border-gray-400 {
  border-color: var(--color-gray-400);
}

.border-solid {
  border-style: solid;
}

.border-dashed {
  border-style: dashed;
}

.border-dotted {
  border-style: dotted;
}

.border-double {
  border-style: double;
}

.border-hidden {
  border-style: hidden;
}

.border-none {
  border-style: none;
}

/* scrollbar */
@media (min-width: 992px){
  .custom-scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  .custom-scrollbar::-webkit-scrollbar:vertical {
    width: 5px;
  }
  
  .custom-scrollbar::-webkit-scrollbar:horizontal {
    height: 5px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 0px solid #ffffff;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #eee;
  }
}
