.horizontal-menu {
    flex: 1;
}

.site-nav {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 1px;
    gap: 8px;
    position: relative;
}

.site-nav .item {
    position: relative;
    display: block;
}

.site-nav .item>a {
    color: var(--color-base-black);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 24px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    position: relative;
}
.site-nav .item>a:hover{
    color: var(--color-primary-400);
}
.site-nav .item>a>.item-text {
    display: block;
    padding: 0;
    position: relative;
}


.site-nav .item.menu-dropdown>a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    transform: translateX(-50%) translateY(100%);
    pointer-events: none;
    transition: all .25s;
    opacity: 0;
}

.site-nav .item.menu-dropdown:hover>a::after {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}

.sub-menu-mobile {
    position: absolute;
    background: #fff;
    width: 200px;
    transition: all 0.25s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.menu-lv-1 .sub-menu-mobile {
    top: calc(100% + 12px);
    left: 0;
}

.menu-lv-2 .sub-menu-mobile {
    left: 100%;
    top: 12px;
}




.sub-menu-mobile .site-nav-dropdown {
    margin: 0;
    list-style: none;
    box-shadow: var(--box-shadow);
    padding: 0;
    border-radius: 4px;
}

.sub-menu-mobile .menu-mb-title {
    display: none;
}

.site-nav .hide_pc {
    display: none;
}

.sub-menu-mobile .site-nav-dropdown li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    padding: 16px;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-base-black);
    transition: all 0.25s;
}
.sub-menu-mobile .site-nav-dropdown li:not(:last-child) a{
    border-bottom: 1px solid var(--color-border);
}

.sub-menu-mobile .site-nav-dropdown li a:hover {
    color: var(--color-primary-400);
}

.sub-menu-mobile .menu-dropdown {
    position: relative;
}

.site-nav .menu-icon {
    display: block;
    width: 20px;
    height: 20px;
}

.menu-lv-1>a .menu-icon {
    transform: rotate(90deg);
}

.menu-toggle {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
}

.menu-close:hover {
    opacity: 0.75;
}

.mobile-nav-header {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    background: #fff;
    border-bottom: 1px solid #ebebeb;
}

.mobile-nav-title {
    color: var(--color-base-black);
    font-weight: bold;
    font-size: 18px;
    line-height: calc(26 / 18);
    display: block;

}
.nav-mobile-info-title {
    border-bottom: 1px solid #ebebeb;
    background-color: #f8f8f8;
    padding: 14px 24px;
}

@media (min-width: 1200px) {

    .menu-dropdown:hover>.sub-menu-mobile {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    .menu-dropdown.menu-lv-1:hover>.sub-menu-mobile {
        top: 100%;
    }

    .menu-dropdown.menu-lv-2:hover>.sub-menu-mobile {
        top: 0;
    }

    .nav-mobile-footer {
        display: none;
    }

}




@media (max-width: 1439.98px) {
    .menu-lv-1:last-child .sub-menu-mobile {
        right: 0;
        left: auto;
    }

}

@media (max-width: 1199.98px) {
    .mobile-nav-header {
        display: flex;
    }
    
    .horizontal-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 99999;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.45s ease;
    }

    .horizontal-menu.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    .horizontal-menu .nav-bar {
        height: 100%;
        background: #fff;
        max-width: 337px;
        width: 100%;
        overflow: hidden;
        transform: translateX(-100%);
        transition: all 0.45s ease;
        display: flex;
        flex-direction: column;
    }

    .nav-bar-content {
        height: 100%;
        flex: 1;
        padding-bottom: 24px;
        overflow: auto;
    }

    .horizontal-menu.active .nav-bar {
        transform: translateX(0);
    }

    .site-nav {
        flex-direction: column;
        gap: 0;
    }

    .site-nav .item {
        width: 100%;
    }

    .site-nav li.is-hide {
        display: none !important;
    }

    .site-nav .item>a {
        padding: 12px 24px;
        border-bottom: 1px solid #ebebeb;
    }

    .site-nav .item>a>svg {
        display: none;
    }

    .site-nav .item>a>.item-text::after {
        display: none;
    }

    .site-nav .item>a>.item-text {
        transition: all 0.25s;
        padding: 0;
    }

    .sub-menu-mobile {
        top: 48px !important;
        left: 0 !important;
        width: 337px !important;
        position: fixed;
        height: 100%;
        z-index: 100;
        transition: transform 0.4s ease;
        transform: translate(-100%);
        background: #fff;
        opacity: 1 !important;
        visibility: visible !important;

    }

    .menu-dropdown.active>.sub-menu-mobile {
        top: 0 !important;
        transform: none;
        position: relative;
        opacity: 1 !important;
        visibility: visible !important;
        pointer-events: all !important;
        width: 100% !important;

    }

    .menu-dropdown.active>a {
        display: none !important;
    }

    .sub-menu-mobile .site-nav-dropdown {
        padding: 0 !important;
        box-shadow: none !important;
    }

    .site-nav .item>a>.icon-dropdown {
        display: block;
    }

    .menu-lv-1>a .menu-icon {
        transform: rotate(0deg);
    }

    .sub-menu-mobile .site-nav-dropdown li a:hover {
        opacity: 1;
    }

    .site-nav .item>a {
        /* font-size: 14px; */
    }

    .site-nav .item>a:hover {
        color: var(--color-primary-400);
    }

    .sub-menu-mobile .menu-mb-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 24px;
        border-bottom: 1px solid #ebebeb;
        background-color: #f8f8f8;
        gap: 8px;
        position: relative;
    }

    .site-nav .menu-icon {
        opacity: 0.75;
    }

    .sub-menu-mobile .menu-mb-title .menu-icon {
        width: 24px;
        height: 24px;
        transform: rotate(180deg);
        transition: all 0.25s;
        opacity: 1;
    }

    .sub-menu-mobile .menu-mb-title .icon-dropdown {
        cursor: pointer;
        position: absolute;
        left: 24px;
        top: 50%;
        transform: translateY(-50%);
    }

    .sub-menu-mobile .menu-mb-title .icon-dropdown:hover .menu-icon,
    .sub-menu-mobile .menu-mb-title .icon-dropdown:focus .menu-icon {
        transform: rotate(180deg) translateX(4px);
    }

    .sub-menu-mobile .menu-mb-title .item-text {
        padding: 0 36px;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
        line-height: calc(24 / 16);
    }

    .sub-menu-mobile .site-nav-dropdown .hide_pc {
        display: block;
    }

    .sub-menu-mobile .site-nav-dropdown li a {
        padding: 14px 24px;
        border-bottom: 1px solid #ebebeb;
        /* font-size: 14px; */
    }

    .sub-menu-mobile .site-nav-dropdown .hide_pc a .item-text {
        font-weight: 500;
    }

    .menu-lv-1.is-show-level-2>.sub-menu-mobile>.menu-mb-title {
        display: none;
    }

}