/* HEADER */

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9000;
    background: #fff;
    padding: 0;
    border-bottom: 1px solid var(--color-gray-300)
}

.header-inner {
    grid-template-columns: 178px auto 1fr;
    padding: 0;
    gap: 42px;
}

.header-left {
    display: none;
}

.header-center {
    width: 100%;
}

.header-right {
    gap: 14px;
}

.site-logo img {
    height: 40px;
    width: auto;
    -o-object-fit: contain;
    object-fit: contain;
}

.header-left svg {
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
}

header .theme-dropdown-content {
    width: 278px;
    right: 0;
    left: auto;
}

/* HEADER SEARCH POPUP */
.header-search-desktop {
    width: 100%;
    min-width: 1px;
    flex: 1;
}

.header-search-desktop,
.header-search-desktop-form {
    position: relative;
}

.header-search-desktop-input {
    border: 0;
    width: 100%;
    padding: 12px 40px 12px 12px;
    font-size: 14px;
    line-height: 22px;
    border: 1px solid var(--color-gray-400);
    border-radius: 9999px;
}

.header-search-desktop-btn {
    width: 32px;
    height: 32px;
    position: absolute;
    border: 0;
    z-index: 2;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all .25s;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.header-search-desktop-inner .modal-close {
    background: transparent;
    width: 24px;
    height: 24px;
    position: relative;
    top: 0;
    right: 0;
}

.header-search-desktop-inner .modal-close svg {
    width: 24px;
    height: 24px;
    transition: all 0.25s;
}

.header-search-desktop-inner .modal-close svg path {
    fill: var(--color-base-black);
}

.header-search-desktop-inner .modal-close:hover svg path {
    fill: var(--color-primary-400);
}

.header-search-desktop-btn svg * {
    transition: all .25s;
}

.header-search-desktop-btn svg {
    width: 16px;
    height: 16px;
}

.header-search-desktop-btn:hover svg *[fill] {
    fill: var(--color-primary-400);
}

.header-search-desktop-btn:focus svg *[stroke] {
    stroke: var(--color-primary-400);
}

.header-search-result-outer {
    position: absolute;
    top: 100%;
    z-index: 2;
    width: 100%;
    left: 0;
    transition: all 0.25s;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    max-height: calc(75vh - 65px);
    max-height: calc(75dvh - 65px);
    max-height: calc(75lvh - 65px);
    overflow: auto;
}

.header-search-desktop.active .header-search-result-outer {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.header-search-result-outer .app-card-content {
    gap: 8px;
}

.header-search-result-outer .app-card-thumb {
    width: 46px !important;
    min-width: 46px !important;
}

.header-search-result-outer .app-card-thumb .ratio-thumb {
    border-radius: 4px;
}

.header-search-result-outer .app-card-title a {
    font-weight: 400;
}


.header-search-result-outer {
    box-shadow: var(--box-shadow);
    border-radius: 6px;
}

.header-search-result-thumb .ratio-thumb {
    width: 44px;
    height: 44px;
}

.header-search-desktop-outer {
    width: 100%;
}

.header-search-desktop-inner {
    display: flex;
    gap: 12px;
    width: 100%;
    align-items: center;
}

.header-search-desktop.active .header-search-desktop-submit,
.header-search-desktop-clear {
    display: none;
}

.header-search-desktop.active .header-search-desktop-clear {
    display: flex;
}

.header-search {
    display: flex;
}

.download-btn .btn-icon {
    display: none;
}

.header-languages .theme-dropdown-toggle {
    padding: 26px 0;
}

.header-user .theme-dropdown-toggle {
    padding: 20px 0;
}

.current-user {
    width: 32px;
}

.current-user .ratio-thumb {
    border-radius: 9999px;
}

.header-search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9001;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    /* pointer-events: none; */
}

.header-search-overlay.active {
    opacity: 1;
    visibility: visible;
}




@media (min-width: 1200px) {
    .header-search-desktop-outer .container {
        max-width: 100%;
        padding: 0;
    }

    .header-center>.container {
        max-width: 100%;
        padding: 0;
    }

    .header-search-desktop-inner .modal-close {
        display: none !important;
    }


    header.is-sticky .header-bottom {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9000;
        background: var(--color-primary-400);
        width: 100%;
        will-change: transform;
        opacity: 0;

    }

    header.is-sticky.is-scroll-down .header-bottom {
        transform: translateY(-100%);
    }

    header.is-sticky.is-scroll-up .header-bottom {
        transition: all 0.45s ease;
        transition-delay: 250ms;
        opacity: 1;
    }

    .header-search-desktop-outer {
        max-width: 300px;
    }

}

@media (min-width: 1200px) and (max-width: 1439px) {
    .header-search-desktop-outer .btn-text {
        display: none;
    }

    .header-search-desktop-outer .btn-icon {
        display: flex;
    }
    .header-search-desktop-outer .download-btn,
    .header-search-desktop-outer .download-btn:hover,
    .header-search-desktop-outer .download-btn:focus {
        background-color: transparent;
        border: 0;
        outline: none;
        box-shadow: none;
        padding: 0;
        border-radius: 0;
        color: var(--color-gray-800);
    }
    
    .header-search-desktop-outer .download-btn {
        align-self: center;
    }
    
    .header-search-desktop-outer .download-btn:hover, .header-search-desktop-outer .download-btn:focus {
        color: var(--color-primary-400);
    }

}

@media (min-width: 1440px) {
    .header-search-desktop-outer {
        max-width: 380px;
    }
}




@media (max-width: 1199.98px) {

    .header-languages .theme-dropdown-toggle {
        padding: 20px 0;
    }

    .header-user .theme-dropdown-toggle {
        padding: 14px 0;
    }

    .header-left {
        display: flex;
        align-items: center;
        gap: 14px;
    }

    .header-left,
    .header-right {
        flex: 1;
        transition: all .25s;
    }

    .site-logo {
        transition: all .25s;
    }

    .site-logo img {
        height: 30px !important;
    }

    .header-center {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        padding: 0;
        z-index: 9999;
        transition: all .25s;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .header-center.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    header.is-show-search-popup .header-left,
    header.is-show-search-popup .header-right,
    header.is-show-search-popup .site-logo {
        opacity: 0;
    }

    .header-inner {
        grid-template-columns: 1fr auto 1fr;
        gap: 24px;
    }

    .header-hotline {
        display: none !important;
    }

    .header-search-desktop-outer {
        position: fixed;
        left: 0;
        top: 0;
        background-color: #fff;
        width: 100%;
        border-bottom: 1px solid var(--color-gray-300);
        padding: 8px 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.25s ease-in-out;
        transform: translateY(-100%);
        z-index: 9002;
    }

    .header-search-desktop-outer.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transform: translateY(0);
    }




}

@media (max-width: 767.98px) {
    .header-languages-text {
        display: none;
    }
}

@media (max-width: 575.98px) {
    .current-language>svg {
        display: none;
    }

    .header-search-desktop-outer .btn-text {
        display: none;
    }

    .header-search-desktop-outer .btn-icon {
        display: flex;
    }
    .header-search-desktop-outer .download-btn,
    .header-search-desktop-outer .download-btn:hover,
    .header-search-desktop-outer .download-btn:focus {
        background-color: transparent;
        border: 0;
        outline: none;
        box-shadow: none;
        padding: 0;
        border-radius: 0;
        color: var(--color-gray-800);
    }
    
    .header-search-desktop-outer .download-btn {
        align-self: center;
    }
    
    .header-search-desktop-outer .download-btn:hover, .header-search-desktop-outer .download-btn:focus {
        color: var(--color-primary-400);
    }    
}

/* FOOTER */
footer {
    padding: 60px 0;
    background-color: var(--color-base-black);
    display: flex;
    flex-direction: column;
}




@media (min-width: 1200px) {
    footer .site-logo img {
        height: 44px;
    }
}


/* SLIDER */
.theme-slider {
    margin: 0 -12px;
}

.theme-slider .theme-slider-item {
    margin: 0 12px;
}

.theme-slider-inner {
    overflow: hidden;
    border-radius: 8px;
}

.cover-slider .owl-nav-item {
    width: 36px;
    height: 36px;
}

.col-item-slider .owl-nav-item {
    margin-top: -42px;
}


@media (min-width: 768px) and (max-width: 991px) {
    .cover-slider .owl-nav-item {
        width: 30px;
        height: 30px;
        margin-top: -5px;
    }
}

@media (max-width: 767px) {
    .over-mobile {
        --over-mobile-width: calc(80% - 12px);
        overflow: auto;
    }

    .over-mobile.over-mobile-cols-2 {
        grid-template-columns: repeat(2, var(--over-mobile-width));
    }

    .over-mobile.over-mobile-cols-3 {
        grid-template-columns: repeat(3, var(--over-mobile-width));
    }

    .over-mobile.over-mobile-cols-4 {
        grid-template-columns: repeat(4, var(--over-mobile-width));
    }
}

@media (max-width: 575px) {
    .cover-slider .owl-nav-item {
        width: 30px;
        height: 30px;
        margin-top: -5px;
    }


}



/* blog-card */
.blog-card {
    gap: 6px;
}

.blog-card-content {
    gap: 2px;
}

.list-tag-scroll {
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) calc(100% - 24px), rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) calc(100% - 24px), rgba(0, 0, 0, 0) 100%);
}

.detail-download-main-btn {
    min-width: 229px;
}

.download-old-version-btn {
    min-width: 304px;
}
@media(min-width: 992px){

    .version-download-btn {
        min-width: 160px;
    }
    
}


.wishlist-icon-bg {
    display: none;
}

.wishlist-btn.active .wishlist-icon-bg {
    display: block;
}

.detail-top .owl-nav-item.owl-nav-prev {
    transform: translateX(-50%) translateY(0);
}

.detail-top .owl-nav-item.owl-nav-next {
    transform: translateX(50%) translateY(0);
}

.detail-top .owl-nav-item {
    top: -4px;
}

.share-btn-item svg {
    width: 40px;
    height: 40px;
}

.detail-gallery-slider .app-card-cover .ratio-thumb:after {
    display: none;
}

.detail-read-more-area {
    max-width: 720px;
}

.btn-collapse {
    display: flex;
}

.btn-collapse svg {
    width: 24px;
    height: 24px;
    transition: all 0.25s;
}

[data-bs-toggle="collapse"].active svg {
    transform: rotate(90deg);
}

.collapse-content {
    max-width: 720px;
}

.collapse-content>* {
    margin: 0;
}

.collapse-content>*+* {
    margin-top: 12px;
}

.comment-area {
    max-width: 720px;
}

.comment-content [type="submit"] {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.comment-content [type="submit"] svg {
    width: 20px;
    height: 20px;
}

.comment-content .theme-form-control {
    padding-right: 44px;
}

.comment-user-thumb {
    width: 40px;
}

.sub-comment-items {
    border-left: 1px solid var(--color-gray-400);
}

@media (max-width: 768px) {

    .download-old-version-btn,
    .detail-download-main-btn {
        min-width: 180px;
    }

    .share-btn-item svg {
        width: 32px;
        height: 32px;
    }

}

@media (max-width: 575px) {
    .share-btn-item svg {
        width: 28px;
        height: 28px;
    }

}


.search-badge-list {
    max-width: 720px;
}

.search-page-input {
    width: 100%;
    padding: 12px 40px 12px 12px;
    font-size: 14px;
    line-height: 22px;
    border: 1px solid var(--color-gray-300);
    border-radius: 9999px;
}

.search-page-form {
    position: relative;
    max-width: 720px;
    margin: 0 auto;
}

.search-page-form button {
    width: 32px;
    height: 32px;
    position: absolute;
    border: 0;
    z-index: 2;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all .25s;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.search-page-form button svg * {
    transition: all .25s;
}

.search-page-form button svg {
    width: 16px;
    height: 16px;
}

.search-page-form button:hover svg *[fill] {
    fill: var(--color-primary-400);
}

.search-page-form button:focus svg *[stroke] {
    stroke: var(--color-primary-400);
}

.search-result-des {
    max-width: 473px;
}

.search-result-btn {
    min-width: 240px;
}

.max-w-790 {
    max-width: 790px;
}

.max-w-750 {
    max-width: 750px;
}

.max-w-720 {
    max-width: 720px;
}

.max-w-600 {
    max-width: 600px;
}

.max-w-430 {
    max-width: 430px;
}
.max-w-400 {
    max-width: 400px;
}

.report-form-submit {
    min-width: 160px
}

@media (max-width: 767px) {

}

.blog-sticky-card-lg .app-card-title a,
.blog-sticky-card .app-card-title a {
    font-size: 18px;
    line-height: calc(26 / 18);
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.blog-list-thumb {
    width: 180px;
}

.custom-blog-nav-position .owl-nav-item.owl-nav-prev {
    transform: translateX(-50%) translateY(0);
}

.custom-blog-nav-position .owl-nav-item.owl-nav-next {
    transform: translateX(-50%) translateY(0);
}

.custom-blog-nav-position .owl-nav-item.owl-nav-prev,
.custom-blog-nav-position .owl-nav-item.owl-nav-next {
    top: 97px;
}

@media (min-width: 768px) {

    .blog-sticky-card-lg .app-card-title a {
        font-weight: 500;
        font-size: 22px;
        line-height: calc(30 / 22);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }

    .blog-sticky-card-lg .app-card-content {
        bottom: 20px !important;
        left: 20px !important;
        width: calc(100% - 40px) !important;
    }

}

@media (max-width: 991px) {

    .custom-blog-nav-position .owl-nav-item.owl-nav-prev,
    .custom-blog-nav-position .owl-nav-item.owl-nav-next {
        top: 65px;
    }
}

@media (max-width: 767px) {
    .blog-list-thumb {
        width: 120px;
    }

    .blog-sticky-card.app-card-rounded-lg .app-card-cover .ratio-thumb {
        border-radius: 12px;
    }
}

.layout-grid {
    grid-template-columns: 1fr 282px;
}

.topic-page-des {
    color: var(--color-gray-800);
}

.blog-detail-app-btns {
    max-width: 340px;
}

@media (max-width: 991px) {
    .layout-grid {
        grid-template-columns: 1fr;
    }

    .blog-detail-app-btns {
        max-width: 200px;
    }

}

@media (max-width: 767px) {
    .blog-detail-app-btns {
        max-width: 115px;
    }
    .max-w-mobile-full{
        max-width: 100% !important;
    }
}

.search-inline-form {
    position: relative;
}

.search-inline-form button {
    width: 32px;
    height: 32px;
    position: absolute;
    border: 0;
    z-index: 2;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all .25s;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.search-inline-form button svg * {
    transition: all .25s;
}

.search-inline-form button svg {
    width: 16px;
    height: 16px;
}

.search-inline-form button:hover svg *[fill] {
    fill: var(--color-primary-400);
}

.search-inline-form button:focus svg *[stroke] {
    stroke: var(--color-primary-400);
}

.search-inline-input {
    width: 100%;
    padding: 12px 40px 12px 12px;
    font-size: 14px;
    line-height: 22px;
    border: 1px solid var(--color-gray-400);
}

.faq-form {
    position: absolute;
    z-index: 2;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0 24px;
}

.faq-thumb {
    z-index: 1;
}

.faq-thumb .ratio-thumb:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(17, 17, 17, 0.60) 0%, rgba(17, 17, 17, 0.00) 100%);
}

.faq-thumb .ratio-thumb img {
    z-index: 1;
}



@media (max-width: 767px) {
    .faq-form {
        bottom: 32px;
    }
}


.faq-select-less {
    width: 127px;
    font-size: 16px;
    font-weight: 500;
    line-height: calc(24 / 16);
}

select.theme-form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: center right 0;
    background-color: #fff;
}

select.theme-form-control {
    background-image: url("../images/icons/base/select-less-down.svg");
    background-size: 20px 20px;
    padding-right: 28px;
}

.select-less {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    outline: none;
}

.faq-category-item:not(:last-child){
    border-bottom: 1px solid var(--color-gray-300);
}

.auth-box{
    width: 100%;
    max-width: 536px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0px 2px 40px 10px rgba(17, 17, 17, 0.08);
}
.auth-section{
    background-color: #F6F6F9;
    background-image: url("../images/auth-pattern.svg");
    background-size: 100% auto;
    background-position: center 100px;
    background-repeat: no-repeat;
}
.auth-box-close{
    position: absolute;
    top: 24px;
    right: 24px;
}


.verification-code-input{
    position: relative;
    z-index: 1;
    padding-right: 93px;
}
.verification-code-btn{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.detail-gallery-slider img {
    border-radius: 20px;
}
.free-size-slider-inner{
    border-radius: 0;
}
.free-size-slider{
    margin: 0 !important;
}
.free-size-slider .free-size-slider-item img {
    height: 300px;
}

@media (max-width: 991px) {
    .auth-section{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .version-download-btn{
        padding: 6px 12px;
        font-size: 12px;
    }
    .free-size-slider .free-size-slider-item img {
        height: 210px;
    }
    .detail-gallery-slider img {
        border-radius: 12px;
    }

    .theme-slider .theme-slider-item {
        margin: 0 8px;
    }
    .theme-slider {
        margin: 0 -8px;
    }
}