.news-section {
	padding: 44px 0;
	@include maxWidth(768px) {
		padding: 32px 0;
	}
	.container {
		// @include maxWidth(576px) {
		// 	padding: 0;
		// }
		@include minWidth(1440px) {
			max-width: 1288px;
		}
	}
}

.news-cat-navi {
	background: $white;
	border: 1px solid $gray-200;
	border-radius: 6px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	gap: 12px;
	padding: 12px;
	margin-bottom: 32px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.news-cat {
	padding: 5px 16px;
	border-radius: 6px;
	text-align: center;
	font-size: 14px;
	color: $primary-text;
	background-color: $white;
	font-family: "inter", sans-serif;
	text-decoration: none;
	&.active {
		color: $primary-light;
		background-color: #fef1f1;
	}
}
.news-items-grid {
	margin-bottom: 32px;
	display: grid;
	gap: 30px;
	grid-template-columns: 1fr 1fr 1fr;
	@include maxWidth(992px) {
		grid-template-columns: 1fr 1fr;
	}

	@include maxWidth(576px) {
		gap: 24px;
	}
	@include maxWidth(480px) {
		grid-template-columns: 1fr;
	}
	.news-item {
		.news-item-body {
			.news-item-footer {
				@include maxWidth(768px) {
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					-ms-flex-direction: column;
					flex-direction: column;
					-webkit-box-align: start;
					-ms-flex-align: start;
					align-items: flex-start;
					gap: 8px;
				}
			}
		}
	}
}
.new-pagiantion {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
