#featured_image {
  width: 80px;
}
td.featured_image.column-featured_image .owl-admin-custom-post-thumb {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  border-radius: 6px;
  position: relative;
}

td.featured_image.column-featured_image .owl-admin-custom-post-thumb img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
#misha_featured_image .rudr-upload-img {
  display: inline-block;
}

#misha_featured_image .rudr-upload-img img {
  width: 160px;
  height: 160px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 6px;
  overflow: hidden;
}

#misha_featured_image .title {
  display: block;
  margin-bottom: 12px;
}
