body #login {
    width: calc(100% - 48px);
    width: -ms-calc(100% - 48px);
    width: -o-calc(100% - 48px);
    max-width: 420px;
    background: #fff;
    padding: 30px 24px 16px 24px !important;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
    border-radius: 6px;
  }
  body #login form {
    width: 100%;
    margin: 0 auto;
    box-shadow: none !important;
    border: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .login #login_error, .login .message, .login .success {
    padding: 8px 12px !important;
    border: 0 !important;
    border-radius: 6px !important;
    margin-bottom: 22px;
    box-shadow: none !important;
  }
  body #login .message {
    color: #fff;
    background-color: #50cd89;
  }
  body #login_error {
    color: #fff;
    background-color: #f1416c;
  }
  
  
  body.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body.login * {
    box-sizing: border-box;
  }
  .login #backtoblog,
  .login #nav {
    padding: 0 !important;
  }
  .login form input{
    box-shadow: none !important;
    
  }
  .login form input:focus{
    border-color: #4da6e8 !important;;
  }
  .login form input:not([type="checkbox"])
  {
    font-size: 16px;
    padding: 0 12px;
    height: 40px;
    line-height: 40px;
    border-radius: 6px;
    margin: 0 !important;
  }
  .login form input:not([type="submit"]){
    border: 1px solid #dce1e7;
     background: #fff !important;
  }
  
  .login #wp-submit {
    box-shadow: none !important;
    padding: 8px 24px;
    font-size: 16px;
    line-height: 24px;
    border: 0;
    outline: none !important;
    background: #ffd336;
    border-radius: 6px;
    display: block;
    width: 100%;
  }
  
  .login #backtoblog a:hover,
  .login #nav a:hover {
    color: #4da6e8;
  }
  .login h1 {
    margin-bottom: 16px;
  }
  .login h1 a {
    background-image: url(../images/logo.svg) !important;
    width: 100%;
    background-size: auto 40px !important;
    background-position: top center;
    margin-bottom: 0 !important;
    text-indent: 0;
    padding-top: 56px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
  }
  